{% comment %}
Re2o est un logiciel d'administration développé initiallement au Rézo Metz. Il
se veut agnostique au réseau considéré, de manière à être installable en
quelques clics.

Copyright © 2017  Gabriel Détraz
Copyright © 2017  Goulven Kermarec
Copyright © 2017  Augustin Lemesle

This program is free software; you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation; either version 2 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License along
with this program; if not, write to the Free Software Foundation, Inc.,
51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.
{% endcomment %}

{% load acl %}
{% load logs_extra %}
{% load i18n %}

{% if room_list.paginator %}
    {% include 'pagination.html' with list=room_list %}
{% endif %}

{%for room in room_list %}
<div class="panel panel-default">
    <div class="panel-heading">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-4">
                    <h4>{{ room.building }} - {{room.name }}</h4>
                </div>
                <div class="col-sm-8 text-right">
                    {% if room.port_set.all %}
                    <a href="{% url 'multi_op:disconnect-room' room.id %}" class="btn btn-danger btn-sm" role="button"><i class="fa fa-expand"></i></a> 
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div class="table-repsonsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>{% trans "User"%}</th>
                        <th>{% trans "Connected to"%}</th>
                        <th>{% trans "End of subscription on" %}</th>
                        <th>{% trans "Internet access" %}</th>
                    </tr>
                </thead>
                <tr>
                    <td>
                        {% if room.adherent %}
                        <a href="{% url 'users:profil' room.adherent.id%}">{{ room.adherent }}</a>
                        {% else %}
                        {% trans "None" %}
                        {% endif %}
                    </td>
                    <td>
                        {% if room.port_set.all %}
                        <span class="label label-success">{{ asso_name }}</span>
                        {% else %}
                        <span class="label label-danger">{% trans "Other operator" %}</span>
                        {% endif %}
                    </td>
                    <td>
                        {% if room.adherent.is_adherent %}
                            <i class="text-success">
                        {% else %}
                            <i class="text-danger">
                        {% endif %}
                        {% if room.adherent.end_adhesion %}
                            {{ room.adherent.end_adhesion}}
                        {% else %}
                            {% trans "Non member" %}
                        {% endif %}
                        </i>
                    </td>
                    <td>
                        {% if room.adherent.has_access == True %}
                        <i class="text-success">{% trans "Active" %}</i>
                        {% else %}
                        <i class="text-danger">{% trans "Disabled" %}</i>
                        {% endif %}
                    </td>
                </tr>
            </table>
        </div>
    </div>
    {% if room.details  %}
    <div class="panel-footer">
        <span><b>{% trans "Details: " %}</b>{{ room.details }}</span>
    </div>
    {% endif %}
</div>
{% endfor %}

{% if room_list.paginator %}
    {% include 'pagination.html' with list=room_list %}
{% endif %}

