{% extends 'multi_op/sidebar.html' %}
{% comment %}
Re2o est un logiciel d'administration développé initiallement au Rézo Metz. Il
se veut agnostique au réseau considéré, de manière à être installable en
quelques clics.

Copyright © 2017  Gabriel Détraz
Copyright © 2017  Goulven Kermarec
Copyright © 2017  Augustin Lemesle

This program is free software; you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation; either version 2 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License along
with this program; if not, write to the Free Software Foundation, Inc.,
51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.
{% endcomment %}

{% load bootstrap3 %}
{% load acl %}
{% load i18n %}

{% block title %}{% trans "Multiple operators" %}{% endblock %}

{% block content %}

{% if dormitory_form %}
{% bootstrap_form_errors dormitory_form %}
{% endif %}

<h2>{% trans "Room connections" %}</h2>

{% if dormitory_form %}
<form class="form" method="post">
	{% csrf_token %}
	{% bootstrap_form dormitory_form %}
	{% trans "Select dormitory" as tr_select_dorm %}
	{% bootstrap_button tr_select_dorm icon='ok' button_class='btn-success' %}
</form>
{% endif %}

{% include 'multi_op/aff_room_state.html' with room_list=room_list asso_name=asso_name %}
    <br />
    <br />
    <br />
{% endblock %}

