{% comment %}
Re2o est un logiciel d'administration développé initiallement au Rézo Metz. Il
se veut agnostique au réseau considéré, de manière à être installable en
quelques clics.

Copyright © 2017  Gabriel Détraz
Copyright © 2017  Lara Kermarec
Copyright © 2017  Augustin Lemesle

This program is free software; you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation; either version 2 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License along
with this program; if not, write to the Free Software Foundation, Inc.,
51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.
{% endcomment %}

{% load acl %}
{% load logs_extra %}
{% load i18n %}

{% if model_switch_list.paginator %}
    {% include 'pagination.html' with list=model_switch_list %}
{% endif %}

<table class="table table-striped">
    <thead>
        <tr>
            {% trans "Reference" as tr_ref %}
            <th>{% include 'buttons/sort.html' with prefix='model-switch' col='reference' text=tr_ref %}</th>
            <th>{% trans "Commercial name" %}</th>
	    <th>{% trans "Firmware" %}</th>
            {% trans "Switch constructor" as tr_constructor %}
            <th>{% include 'buttons/sort.html' with prefix='model-switch' col='constructor' text=tr_constructor %}</th>
	    <th>{% trans "Switches" %}
	    <th></th>
        </tr>
    </thead>
    {% for model_switch in model_switch_list %}
    <tr>
        <td>{{ model_switch.reference }}</td>
        <td>{{ model_switch.commercial_name }}</td>
        <td>{{ model_switch.firmware }}</td>
        <td>{{ model_switch.constructor }}</td>
	<td>
	    {% for switch in model_switch.switch_set.all %}
	    <a href="{% url 'topologie:index-port' switch.pk %}">
		{{ switch }}
	    </a>
	    {% endfor %}
	</td>
        <td class="text-right">
            {% can_edit model_switch %}
            {% include 'buttons/edit.html' with href='topologie:edit-model-switch' id=model_switch.id %}
            {% acl_end %}
            {% history_button model_switch %}
            {% can_delete model_switch %}
            {% include 'buttons/suppr.html' with href='topologie:del-model-switch' id=model_switch.id %}
            {% acl_end %}
        </td>
    </tr>
    {% endfor %}
</table>

{% if model_switch_list.paginator %}
    {% include 'pagination.html' with list=model_switch_list %}
{% endif %}

