{% comment %}
Re2o est un logiciel d'administration développé initiallement au rezometz. Il
se veut agnostique au réseau considéré, de manière à être installable en
quelques clics.

Copyright © 2017  Gabriel Détraz
Copyright © 2017  Goulven Kermarec
Copyright © 2017  Augustin Lemesle

This program is free software; you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation; either version 2 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License along
with this program; if not, write to the Free Software Foundation, Inc.,
51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.
{% endcomment %}

{% load acl %}

<div class="table-responsive">
{% if borne_list.paginator %}
{% include "pagination.html" with list=borne_list %}
{% endif %}


<table class="table table-striped">
    <thead>
        <tr>
            <th>{% include "buttons/sort.html" with prefix='borne' col='name' text='Borne' %}</th>
	    <th>{% include "buttons/sort.html" with prefix='borne' col='mac' text='Addresse mac' %}</th>
	    <th>{% include "buttons/sort.html" with prefix='borne' col='ip' text='Ipv4' %}</th>
	    <th>Commentaire</th>
            <th>Localisation</th> 
	    <th></th>
        </tr>
   </thead>
   {% for borne in borne_list %}
   <tr>
       <td>{{borne}}</td>
       <td>{{borne.mac_address}}</td>
       <td>{{borne.ipv4}}</td>
       <td>{{borne.details}}</td>
       <td>{{borne.location}}</td>
        <td class="text-right">
            <a class="btn btn-info btn-sm" role="button" title="Historique" href="{% url 'topologie:history' 'borne' borne.pk %}">
                <i class="fa fa-history"></i>
            </a>
        {% can_edit borne %}
            <a class="btn btn-primary btn-sm" role="button" title="Éditer" href="{% url 'topologie:edit-borne' borne.id %}">
                <i class="fa fa-edit"></i>
            </a>
	{% acl_end %}
	{% can_delete borne %}
            <a class="btn btn-danger btn-sm" role="button" title="Supprimer" href="{% url 'machines:del-interface' borne.id %}">
                <i class="fa fa-trash"></i>
            </a>
        {% acl_end %}
        </td>
   </tr>
   {% endfor %}
</table>


{% if borne_list.paginator %}
{% include "pagination.html" with list=borne_list %}
{% endif %}
</div>
