<table class="table table-striped">
    <thead>
        <tr>
            <th>Port</th>
            <th>Room</th>
            <th>Interface machine</th>
            <th>Related</th>
            <th>Détails</th>
            <th></th>
        </tr>
   </thead>
   {% for port in port_list %}
   <tr>
        <td>{{ port.port }}</td>
        <td>
        {% if port.room %}
            {{ port.room }}
        {% endif %}
        </td>
        <td>
        {% if port.machine_interface %}
            <a href="{% url 'users:profil' userid=port.machine_interface.machine.user.id %}">{{ port.machine_interface }}</a>
        {% endif %}
        </td>
        <td>
        {% if port.related %}
            <a href="{% url 'topologie:index-port' switch_id=port.related.switch.id %}">{{ port.related }}</a>
        {% endif %}
        </td>
        <td>{{ port.details }}</td>
        <td class="text-right">
            <a class="btn btn-info btn-sm" role="button" title="Historique" href="{% url 'topologie:history' 'port' port.pk %}">
                <i class="glyphicon glyphicon-time"></i>
            </a>
        {% if is_infra %}
            <a class="btn btn-primary btn-sm" role="button" title="Éditer" href="{% url 'topologie:edit-port' port.id %}">
                <i class="glyphicon glyphicon-edit"></i>
            </a>
        {% endif %}
        </td>
   </tr>
   {% endfor %}
</table>
