<table class="table table-striped">
    <thead>
        <tr>
            <th>Chambre</th>
            <th>Commentaire</th>
            <th></th>
        </tr>
   </thead>
   {% for room in room_list %}
   <tr>
       <td>{{room.name}}</td>
       <td>{{room.details}}</td>
        <td class="text-right">
            <a class="btn btn-info btn-sm" role="button" title="Historique" href="{% url 'topologie:history' 'room' room.pk %}">
                <i class="glyphicon glyphicon-time"></i>
            </a>
        {% if is_infra %}
            <a class="btn btn-primary btn-sm" role="button" title="Éditer" href="{% url 'topologie:edit-room' room.id %}">
                <i class="glyphicon glyphicon-edit"></i>
            </a>
            <a class="btn btn-danger btn-sm" role="button" title="Supprimer" href="{% url 'topologie:del-room' room.id %}">
                <i class="glyphicon glyphicon-trash"></i>
            </a>
        {% endif %}
        </td>
   </tr>
   {% endfor %}
</table>
