{% comment %}
Re2o est un logiciel d'administration développé initiallement au Rézo Metz. Il
se veut agnostique au réseau considéré, de manière à être installable en
quelques clics.

Copyright © 2017  Gabriel Détraz
Copyright © 2017  Lara Kermarec
Copyright © 2017  Augustin Lemesle

This program is free software; you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation; either version 2 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License along
with this program; if not, write to the Free Software Foundation, Inc.,
51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.
{% endcomment %}

{% load acl %}
{% load i18n %}

<div class="table-responsive" style="font-size: 12px">
    <table class="table table-bordered text-center text-nowrap">
        <thead>
            <tr>

                {% for port in port_list|slice:"::2" %}
                <td class="bg-primary text-white">{{ port.port }}</td>
                {% endfor %}

            </tr>
            <tr>

                {% for port in port_list|slice:"::2" %}
                {% if port.room %}
                <td class="p-3 mb-2 bg-success text-dark">
                    {{ port.room }}
                </td>
                {% elif port.machine_interface %}
                <td class="p-3 mb-2 bg-warning text-dark">
                    {% can_view port.machine_interface.machine.user %}
                    <a href="{% url 'users:profil' userid=port.machine_interface.machine.user.id %}">
                        {{ port.machine_interface }}
                    </a>
                    {% acl_else %}
                    {{ port.machine_interface }}
                    {% acl_end %}
                </td>
                {% elif port.related%}
                <td class="p-3 mb-2 bg-danger text-dark">
                    {% can_view port.related.switch %}
                    <a href="{% url 'topologie:index-port' switchid=port.related.switch.id %}">
                        {{ port.related }}
                    </a>
                    {% acl_else %}
                    {{ port.related }}
                    {% acl_end %}
                </td>
                {% else %}
                <td class="p-3 mb-2 bg-info text-dark">
                   {% trans "Empty" %}
                </td>
                {% endif %}
                {% endfor %}

            </tr>

            <tr>

                {% for port in port_list|slice:"1::2" %}
                <td class="bg-primary text-white">{{ port.port }}</td>
                {% endfor %}

            </tr>
            <tr>

                {% for port in port_list|slice:"1::2" %}
                {% if port.room %}
                <td class="p-3 mb-2 bg-success text-dark">
                    {{ port.room }}
                </td>
                {% elif port.machine_interface %}
                <td class="p-3 mb-2 bg-warning text-dark">
                    {% can_view port.machine_interface.machine.user %}
                    <a href="{% url 'users:profil' userid=port.machine_interface.machine.user.id %}">
                        {{ port.machine_interface }}
                    </a>
                    {% acl_else %}
                    {{ port.machine_interface }}
                    {% acl_end %}
                </td>
                {% elif port.related%}
                <td class="p-3 mb-2 bg-danger text-dark">
                    {% can_view port.related.switch %}
                    <a href="{% url 'topologie:index-port' switchid=port.related.switch.id %}">
                        {{ port.related }}
                    </a>
                    {% acl_else %}
                    {{ port.related }}
                    {% acl_end %}
                </td>
                {% else %}
                <td class="p-3 mb-2 bg-info text-dark">
                    {% trans "Empty" %}
                </td>
                {% endif %}
                {% endfor %}

            </tr>
    </table>
</div>
