{% comment %}
Re2o est un logiciel d'administration développé initiallement au rezometz. Il
se veut agnostique au réseau considéré, de manière à être installable en
quelques clics.

Copyright © 2018  Gabriel Détraz

This program is free software; you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation; either version 2 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License along
with this program; if not, write to the Free Software Foundation, Inc.,
51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.
{% endcomment %}

{% load acl %}
{% load i18n %}

<div class="table-responsive">

{% if port_profile_list.paginator %}
{% include "pagination.html" with list=port_profile_list %}
{% endif %}


<table class="table table-striped">
	<thead>
    <tr>
        <th>{% trans "Name" %}</th>
        <th>{% trans "Default for" %}</th>
        <th>{% trans "VLANs" %}</th>
        <th>{% trans "RADIUS settings" %}</th>
        <th>{% trans "Speed" %}</th>
        <th>{% trans "Mac address limit" %}</th>
        <th>{% trans "Security" %}</th>
        <th></th>
    </tr>
    </thead>
    {% for port_profile in port_profile_list %}
    <tr>
        <td>{{port_profile.name}}</td>
        <td>{{port_profile.profil_default}}</td>
        <td>
	{% if port_profile.vlan_untagged %}
        <b>Untagged : </b>{{port_profile.vlan_untagged}}
        <br>
        {% endif %}
        {% if port_profile.vlan_tagged.all %}
        <b>Tagged : </b>{{port_profile.vlan_tagged.all|join:", "}}
        {% endif %}
        </td>
        <td>
        <b>Type : </b>{{port_profile.radius_type}}
        {% if port_profile.radius_type == "MAC-radius" %}
        <br>
        <b>Mode : </b>{{port_profile.radius_mode}}</td>
        {% endif %}
        <td>{{port_profile.speed}}</td>
        <td>{{port_profile.mac_limit}}</td>
        <td>{{port_profile.security_parameters_enabled|join:"<br>"}}</td>
        <td class="text-right">
            {% include 'buttons/history.html' with href='topologie:history' name='portprofile' id=port_profile.pk %}
            {% can_edit port_profile %}
            {% include 'buttons/edit.html' with href='topologie:edit-port-profile' id=port_profile.pk %}
            {% acl_end %}
            {% can_delete port_profile %}
            {% include 'buttons/suppr.html' with href='topologie:del-port-profile' id=port_profile.pk %}
            {% acl_end %}
        </td>
    </tr>
    {% endfor %}
</table>

{% if port_profile_list.paginator %}
{% include "pagination.html" with list=port_profile_list %}
{% endif %}

</div>
