{% comment %}
Re2o est un logiciel d'administration développé initiallement au Rézo Metz. Il
se veut agnostique au réseau considéré, de manière à être installable en
quelques clics.

Copyright © 2017  Gabriel Détraz
Copyright © 2017  Lara Kermarec
Copyright © 2017  Augustin Lemesle

This program is free software; you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation; either version 2 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License along
with this program; if not, write to the Free Software Foundation, Inc.,
51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.
{% endcomment %}

{% load acl %}
{% load logs_extra %}
{% load i18n %}

{% if switch_bay_list.paginator %}
    {% include 'pagination.html' with list=switch_bay_list %}
{% endif %}

<table class="table table-striped">
    <thead>
        <tr>
            {% trans "Switch bay" as tr_bay %}
            <th>{% include 'buttons/sort.html' with prefix='switch-bay' col='name' text=tr_bay %}</th>
            {% trans "Building" as tr_building %}
            <th>{% include 'buttons/sort.html' with prefix='switch-bay' col='building' text=tr_building %}</th>
            <th>{% trans "Information" %}</th>
            <th>{% trans "Switches of the bay" %}</th>
            <th></th>
        </tr>
    </thead>
    {% for switch_bay in switch_bay_list %}
        <tr>
            <td>{{ switch_bay.name }}</td>
            <td>{{ switch_bay.building }}</td>
            <td>{{ switch_bay.info }}</td>
            <td>
                {% for switch in switch_bay.switch_set.all %}
                <a href="{% url 'topologie:index-port' switch.id %}">
                    {{ switch }}
                </a>
                {% endfor %}
            </td>
            <td class="text-right">
                {% can_edit switch_bay %}
                {% include 'buttons/edit.html' with href='topologie:edit-switch-bay' id=switch_bay.id %}
                {% acl_end %}
                {% history_button switch_bay %}
                {% can_delete switch_bay %}
                {% include 'buttons/suppr.html' with href='topologie:del-switch-bay' id=switch_bay.id %}
                {% acl_end %}
            </td>
        </tr>
    {% endfor %}
</table>

{% if switch_bay_list.paginator %}
    {% include 'pagination.html' with list=switch_bay_list %}
{% endif %}

