{% comment %}
Re2o est un logiciel d'administration développé initiallement au rezometz. Il
se veut agnostique au réseau considéré, de manière à être installable en
quelques clics.

Copyright © 2017  Gabriel Détraz
Copyright © 2017  Lara Kermarec
Copyright © 2017  Augustin Lemesle

This program is free software; you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation; either version 2 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License along
with this program; if not, write to the Free Software Foundation, Inc.,
51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.
{% endcomment %}

{% load acl %}
{% load logs_extra %}
{% load i18n %}

<div class="table-responsive">
    {% if switch_list.paginator %}
        {% include 'pagination.html' with list=switch_list %}
    {% endif %}

    <table class="table table-striped">
        <thead>
            <tr>
                {% trans "DNS name" as tr_dns %}
                <th>{% include 'buttons/sort.html' with prefix='switch' col='dns' text=tr_dns %}</th>
                {% trans "IPv4 address" as tr_ip %}
                <th>{% include 'buttons/sort.html' with prefix='switch' col='ip' text=tr_ip %}</th>
                {% trans "Switch bay" as tr_bay %}
                <th>{% include 'buttons/sort.html' with prefix='switch' col='loc' text=tr_bay %}</th>
	        {% trans "Ports" as tr_ports %}
                <th>{% include 'buttons/sort.html' with prefix='switch' col='ports' text=tr_ports %}</th>
                {% trans "Stack" as tr_stack %}
                <th>{% include 'buttons/sort.html' with prefix='switch' col='stack' text=tr_stack %}</th>
                <th>{% trans "Stack ID" %}</th>
                <th>{% trans "Switch model" %}</th>
                <th>{% trans "Details" %}</th>
                <th></th>
            </tr>
        </thead>
        {% for switch in switch_list %}
            <tr>
                <td>
                    <a href="{% url 'topologie:index-port' switch.id %}">
                    {{ switch }}
                    </a>
                </td>
                <td>{{ switch.interface_set.first.ipv4 }}</td>
                <td>{{ switch.switchbay }}</td>
                <td>{{ switch.number }}</td>
                <td>{{ switch.stack.name }}</td>
                <td>{{ switch.stack_member_id }}</td>
                <td>{{ switch.model }}</td>
                <td>{{ switch.interface_set.first.details }}</td>
                <td class="text-right">
                    {% can_edit switch %}
                    {% include 'buttons/edit.html' with href='topologie:edit-switch' id=switch.id %}
                    {% acl_end %}
                    {% history_button switch %}
                    {% can_delete switch %}
                    {% include 'buttons/suppr.html' with href='machines:del-machine' id=switch.id %} 
                    {% acl_end %}
                    {% can_create Port %}
                    {% trans "Creation of ports" as tr_creation %}
                    {% include 'buttons/add.html' with href='topologie:create-ports' id=switch.id desc=tr_creation %}
                    {% acl_end %}
                </td>
            </tr>
        {% endfor %}
    </table>

    {% if switch_list.paginator %}
    {% include 'pagination.html' with list=switch_list %}
    {% endif %}
</div>

