{% comment %}
Re2o est un logiciel d'administration développé initiallement au Rézo Metz. Il
se veut agnostique au réseau considéré, de manière à être installable en
quelques clics.

Copyright © 2017  Gabriel Détraz
Copyright © 2017  Lara Kermarec
Copyright © 2017  Augustin Lemesle

This program is free software; you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation; either version 2 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License along
with this program; if not, write to the Free Software Foundation, Inc.,
51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.
{% endcomment %}

{% load acl %}
{% load logs_extra %}
{% load i18n %}

{% if constructor_switch_list.paginator %}
    {% include 'pagination.html' with list=constructor_switch_list %}
{% endif %}

<table class="table table-striped">
    <thead>
        <tr>
            {% trans "Switch constructor" as tr_constructor %}
            <th>{% include 'buttons/sort.html' with prefix='constructor-switch' col='name' text=tr_constructor %}</th>
            <th></th>
        </tr>
    </thead>
    {% for constructor_switch in constructor_switch_list %}
    <tr>
        <td>{{ constructor_switch }}</td>
        <td class="text-right">
            {% can_edit constructor_switch %}
            {% include 'buttons/edit.html' with href='topologie:edit-constructor-switch' id=constructor_switch.id %}
            {% acl_end %}
            {% history_button constructor_switch %}
            {% can_delete constructor_switch %}
            {% include 'buttons/suppr.html' with href='topologie:del-constructor-switch' id=constructor_switch.id %}
            {% acl_end %}
        </td>
    </tr>
    {% endfor %}
</table>

{% if constructor_switch_list.paginator %}
    {% include 'pagination.html' with list=constructor_switch_list %}
{% endif %}

