{% comment %}
Re2o est un logiciel d'administration développé initiallement au rezometz. Il
se veut agnostique au réseau considéré, de manière à être installable en
quelques clics.

Copyright © 2017  Gabriel Détraz
Copyright © 2017  Goulven Kermarec
Copyright © 2017  Augustin Lemesle

This program is free software; you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation; either version 2 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License along
with this program; if not, write to the Free Software Foundation, Inc.,
51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.
{% endcomment %}

{% load acl %}

<div class="table-responsive">
<table class="table table-striped">
    <thead>
        <tr>
            <th>{% include "buttons/sort.html" with prefix='port' col='port' text='Port' %}</th>
            <th>{% include "buttons/sort.html" with prefix='port' col='room' text='Room' %}</th>
            <th>{% include "buttons/sort.html" with prefix='port' col='interface' text='Interface machine' %}</th>
            <th>{% include "buttons/sort.html" with prefix='port' col='related' text='Related' %}</th>
	    <th>Etat du port</th>
            <th>Profil du port</th>
            <th>Détails</th>
            <th></th>
        </tr>
   </thead>
   {% for port in port_list %}
   <tr>
        <td>{{ port.port }}</td>
        <td>
            {% if port.room %}{{ port.room }}{% endif %}
        </td>
        <td>
            {% if port.machine_interface %}
            {% can_view port.machine_interface.machine.user %}
            <a href="{% url 'users:profil' userid=port.machine_interface.machine.user.id %}">
                {{ port.machine_interface }}
            </a>
            {% acl_else %}
            {{ port.machine_interface }}
            {% acl_end %}
            {% endif %}
        </td>
        <td>
            {% if port.related %}
            {% can_view port.related.switch %}
            <a href="{% url 'topologie:index-port' switchid=port.related.switch.id %}">
                {{ port.related }}
            </a>
            {% acl_else %}
            {{ port.related }}
            {% acl_end %}
            {% endif %}
        </td>
        <td>{% if port.state %} <i class="text-success">Actif</i>{% else %}<i class="text-danger">Désactivé</i>{% endif %}</td>
	<td>{% if not port.custom_profil %}<u>Par défaut</u> : {% endif %}{{port.get_port_profil}}</td>
        <td>{{ port.details }}</td>
        <td class="text-right">
            <a class="btn btn-info btn-sm" role="button" title="Historique" href="{% url 'topologie:history' 'port' port.pk %}">
                <i class="fa fa-history"></i>
            </a>
            {% can_edit port %}
            <a class="btn btn-primary btn-sm" role="button" title="Éditer" href="{% url 'topologie:edit-port' port.id %}">
                <i class="fa fa-edit"></i>
            </a>
	    {% acl_end %}
            {% can_delete port %}
	    <a class="btn btn-danger btn-sm" role="button" title="Supprimer" href="{% url 'topologie:del-port' port.pk %}">
                   <i class="fa fa-trash"></i>
           </a>
           {% acl_end %}
        </td>
   </tr>
   {% endfor %}
</table>
</div>
