{% comment %}
Re2o est un logiciel d'administration développé initiallement au Rézo Metz. Il
se veut agnostique au réseau considéré, de manière à être installable en
quelques clics.

Copyright © 2017  Gabriel Détraz
Copyright © 2017  Lara Kermarec
Copyright © 2017  Augustin Lemesle

This program is free software; you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation; either version 2 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License along
with this program; if not, write to the Free Software Foundation, Inc.,
51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.
{% endcomment %}

{% load acl %}
{% load logs_extra %}
{% load i18n %}

<div class="table-responsive">
    {% if ap_list.paginator %}
        {% include 'pagination.html' with list=ap_list %}
    {% endif %}
    <table class="table table-striped">
        <thead>
            <tr>
                {% trans "Access point" as tr_ap %}
                <th>{% include 'buttons/sort.html' with prefix='ap' col='name' text=tr_ap %}</th>
                {% trans "MAC address" as tr_mac %}
                <th>{% include 'buttons/sort.html' with prefix='ap' col='mac' text=tr_mac %}</th>
                {% trans "IPv4 address" as tr_ip %}
                <th>{% include 'buttons/sort.html' with prefix='ap' col='ip' text=tr_ip %}</th>
                <th>{% trans "Details" %}</th>
                <th>{% trans "Location" %}</th> 
                <th></th>
            </tr>
        </thead>
        {% for ap in ap_list %}
            <tr>
                <td>{{ ap.interface_set.first }}</td>
                <td>{{ ap.interface_set.first.mac_address }}</td>
                <td>{{ ap.interface_set.first.ipv4 }}</td>
                <td>{{ ap.interface_set.first.details }}</td>
                <td>{{ ap.location }}</td>
                <td class="text-right">
                    {% can_edit ap %}
                    {% include 'buttons/edit.html' with href='topologie:edit-ap' id=ap.id %}
                    {% acl_end %}
                    {% history_button ap %}
                    {% can_delete ap %}
                    {% include 'buttons/suppr.html' with href='machines:del-machine' id=ap.id %}
                    {% acl_end %}
                </td>
            </tr>
        {% endfor %}
    </table>

    {% if ap_list.paginator %}
        {% include 'pagination.html' with list=ap_list %}
    {% endif %}
</div>

