{% comment %}
Re2o est un logiciel d'administration développé initiallement au Rézo Metz. Il
se veut agnostique au réseau considéré, de manière à être installable en
quelques clics.

Copyright © 2017  Gabriel Détraz
Copyright © 2017  Lara Kermarec
Copyright © 2017  Augustin Lemesle

This program is free software; you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation; either version 2 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License along
with this program; if not, write to the Free Software Foundation, Inc.,
51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.
{% endcomment %}

{% load acl %}
{% load logs_extra %}
{% load i18n %}

{% if module_list.paginator %}
    {% include 'pagination.html' with list=module_list %}
{% endif %}

<table class="table table-striped">
    <thead>
        <tr>
            <th>{% trans "Reference" %}</th>
            <th>{% trans "Comment" %}</th>
            <th>{% trans "Switches" %}</th>
            <th></th>
        </tr>
    </thead>
    {% for module in module_list %}
    <tr>
        <td>{{ module.reference }}</td>
        <td>{{ module.comment }}</td>
        <td>
        {% for module_switch in  module.moduleonswitch_set.all %}
        <b>{% trans "Slot" %}</b> {{ module_switch.slot }} <b>{% trans "of" %}</b> {{ module_switch.switch }}
            {% can_edit module_switch %}
            {% include 'buttons/edit.html' with href='topologie:edit-module-on' id=module_switch.id %}
            {% acl_end %}
            {% can_delete module_switch %}
            {% include 'buttons/suppr.html' with href='topologie:del-module-on' id=module_switch.id %}
            {% acl_end %}
	<br>
	{% endfor %}
	</td>
        <td class="text-right">
            {% can_edit module %}
            {% include 'buttons/add.html' with href='topologie:add-module-on' %}
            {% include 'buttons/edit.html' with href='topologie:edit-module' id=module.id %}
            {% acl_end %}
            {% history_button module %}
            {% can_delete module %}
            {% include 'buttons/suppr.html' with href='topologie:del-module' id=module.id %}
            {% acl_end %}
        </td>
    </tr>
    {% endfor %}
</table>

{% if module_list.paginator %}
    {% include 'pagination.html' with list=module_list %}
{% endif %}

<h4>{% trans "All modular switchs" %}</h4>

<table class="table table-striped">
    <thead>
        <th>{% trans "Switch" %}</th>
        <th>{% trans "Reference" %}</th>
        <th>{% trans "Slot" %}</th>
        <tbody>
             {% for switch in modular_switchs %}
             {% if switch.list_modules %}
             <tr class="info">
                 <td colspan="4">
            	    {{ switch }}
                 </td>
             </tr>
    {% for module in switch.list_modules %}
    <tr>
	<td></td>
        <td>{{ module.1 }}</td>
        <td>{{ module.0 }}</td>
    </tr>
    {% endfor %}
{% endif %}
{% endfor %}
</table>
