{% comment %}
Re2o est un logiciel d'administration développé initiallement au Rézo Metz. Il
se veut agnostique au réseau considéré, de manière à être installable en
quelques clics.

Copyright © 2017  Gabriel Détraz
Copyright © 2017  Lara Kermarec
Copyright © 2017  Augustin Lemesle

This program is free software; you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation; either version 2 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License along
with this program; if not, write to the Free Software Foundation, Inc.,
51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.
{% endcomment %}

{% load acl %}
{% load logs_extra %}
{% load i18n %}

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                {% trans "Port" as tr_port %}
                <th>{% include 'buttons/sort.html' with prefix='port' col='port' text=tr_port %}</th>
                {%  if search %}
                    <th>{% trans "Switch" %}</th>
                {% endif %}
                {% trans "Room" as tr_room %}
                <th>{% include 'buttons/sort.html' with prefix='port' col='room' text=tr_room %}</th>
                {% trans "Interface" as tr_interface %}
                <th>{% include 'buttons/sort.html' with prefix='port' col='interface' text=tr_interface %}</th>
                {% trans "Related port" as tr_related_port %}
                <th>{% include 'buttons/sort.html' with prefix='port' col='related' text=tr_related_port %}</th>
                <th>{% trans "Port state" %}</th>
                <th>{% trans "Port profile" %}</th>
                <th>{% trans "Details" %}</th>
                <th></th>
            </tr>
        </thead>
       {% for port in port_list %}
            <tr>
			<td>{{ port.port }}</td>
            {% if search %}
                <td>
                    <a href="{% url 'topologie:index-port' switchid=port.switch.id %}">{{ port.switch }}</a>
                </td>
            {% endif %}
                <td>
                    {% if port.room %}
                    {{ port.room }}
                    {% endif %}
                </td>
                <td>
                    {% if port.machine_interface %}
                    {% can_view port.machine_interface.machine.user %}
                    <a href="{% url 'users:profil' userid=port.machine_interface.machine.user.id %}">
                        {{ port.machine_interface }}
                    </a>
                    {% acl_end %}
                    {% endif %}
                </td>
                <td>
                    {% if port.related %}
                    {% can_view port.related.switch %}
                    <a href="{% url 'topologie:index-port' switchid=port.related.switch.id %}">
                        {{ port.related }}
                    </a>
                    {% acl_else %}
                    {{ port.related }}
                    {% acl_end %}
                    {% endif %}
                </td>
		<td>
                    {% if port.state %}
                    <i class="text-success">{% trans "Active" %}</i>
                    {% else %}
                    <i class="text-danger">{% trans "Disabled" %}</i>
                    {% endif %}
                </td>
                <td>
                    {% if not port.custom_profile %}
                    <u>{% trans "Default: " %}</u>
                    {% endif %}
                    {{ port.get_port_profile }}
                </td>
                <td>{{ port.details }}</td>
                <td class="text-right">
                    {% can_edit port %}
                    {% include 'buttons/edit.html' with href='topologie:edit-port' id=port.id %}
                    {% acl_end %}
                    {% history_button port %}
                    {% can_delete port %}
                    {% include 'buttons/suppr.html' with href='topologie:del-port' id=port.id %}
                    {% acl_end %}
                </td>
            </tr>
        {% endfor %}
    </table>
</div>

