{% extends 'topologie/sidebar.html' %}
{% comment %}
Re2o est un logiciel d'administration développé initiallement au Rézo Metz. Il
se veut agnostique au réseau considéré, de manière à être installable en
quelques clics.

Copyright © 2017  Gabriel Détraz
Copyright © 2017  Lara Kermarec
Copyright © 2017  Augustin Lemesle

This program is free software; you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation; either version 2 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License along
with this program; if not, write to the Free Software Foundation, Inc.,
51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.
{% endcomment %}

{% load bootstrap3 %}
{% load acl %}
{% load i18n %}

{% block title %}{% trans "Topology" %}{% endblock %}

{% block content %}
<h2>{% trans "Switch:"%} {{ switch }}</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>{% trans "Switch bay" %}</th>
            <th>{% trans "Switch model" %}</th>
            <th>{% trans "Stack" %}</th>
        </tr>
    </thead>
    <tr>
        <td>{{ switch.switchbay }}</td>
        <td>{{ switch.model }}</td>
        <td>{{ switch.stack }}</td>
    </tr>
</table>
<hr>
{% include 'buttons/edit.html' with href='topologie:edit-switch' id=id_switch %}
{% can_create Port %}
<a class="btn btn-primary btn-sm" role="button" href="{% url 'topologie:new-port' id_switch %}"><i class="fa fa-plus"></i> {% trans "Add a port" %}</a>
<a class="btn btn-primary btn-sm" role="button" href="{% url 'topologie:create-ports' id_switch %}"><i class="fa fa-plus"></i> {% trans "Add ports to the port list" %}</a>
{% acl_end %}
<hr>
{% include 'topologie/aff_repr_switch.html' with port_list=port_list %}
{% include 'topologie/aff_port.html' with port_list=port_list %}
    <br />
    <br />
    <br />
{% endblock %}

