{% extends 'topologie/sidebar.html' %}
{% comment %}
Re2o est un logiciel d'administration développé initiallement au Rézo Metz. Il
se veut agnostique au réseau considéré, de manière à être installable en
quelques clics.

Copyright © 2017  Gabriel Détraz
Copyright © 2017  Lara Kermarec
Copyright © 2017  Augustin Lemesle

This program is free software; you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation; either version 2 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License along
with this program; if not, write to the Free Software Foundation, Inc.,
51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.
{% endcomment %}

{% load bootstrap3 %}
{% load acl %}
{% load i18n %}

{% block title %}{% trans "Topology" %}{% endblock %}

{% block content %}

<script type="text/javascript" src="/static/js/jquery.ez-plus.js"></script>
<script>
function toggle_graph() {
    $("#collImg").collapse('toggle');

    ezImg = $("#zoom_01").data("ezPlus");
    if (ezImg) {
        ezImg.destroy();
	$("#zoom_01").removeData("ezPlus");
    } else {
        $("#zoom_01").ezPlus({
            scrollZoom: true,
            zoomType: 'inner',
            cursor: 'crosshair'
        });
    }
}
</script>


<button class="btn btn-primary" type="button" onclick="toggle_graph()">
{% trans "Topology of the switches" %}
</button>

<a target="_blank" href="/media/images/switchs.png" class="btn btn-primary">
  <span class="fa fa-arrows-alt"></span>
</a>

<div id="collImg" class="collapse" aria-expanded="false">
<img id="zoom_01" src="/media/images/switchs.png" href="/media/images/switchs.png" target="_blank" data-zoom-image="/media/images/switchs.png" width=100% />
</div>

<h2>{% trans "Switches" %}</h2>
{% can_create Switch %}
<a class="btn btn-primary btn-sm" role="button" href="{% url 'topologie:new-switch' %}"><i class="fa fa-plus"></i> {% trans "Add a switch" %}</a>
<hr>
{% acl_end %}
    {% include 'topologie/aff_switch.html' with switch_list=switch_list %}
    <br />
    <br />
    <br />

{% endblock %}

