{% extends "base.html" %}
{% comment %}
Re2o est un logiciel d'administration développé initiallement au rezometz. Il
se veut agnostique au réseau considéré, de manière à être installable en
quelques clics.

Copyright © 2017  Gabriel Détraz
Copyright © 2017  Goulven Kermarec
Copyright © 2017  Augustin Lemesle

This program is free software; you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation; either version 2 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License along
with this program; if not, write to the Free Software Foundation, Inc.,
51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.
{% endcomment %}

{% load i18n %}

{% block sidebar %}
    <a class="list-group-item list-group-item-info" href="{% url "topologie:index-room" %}">
        <i class="fa fa-home"></i>
	{% trans "Rooms and premises" %}
    </a>
     <a class="list-group-item list-group-item-info" href="{% url "topologie:index" %}">
        <i class="fa fa-microchip"></i>
	{% trans "Switches" %}
    </a>
    <a class="list-group-item list-group-item-info" href="{% url "topologie:index-port-profile" %}">
        <i class="fa fa-cogs"></i>
	{% trans "Port profiles" %}
    </a>
    <a class="list-group-item list-group-item-info" href="{% url "topologie:index-ap" %}">
        <i class="fa fa-wifi"></i>
	{% trans "Access points" %}
    </a>
    <a class="list-group-item list-group-item-info" href="{% url "topologie:index-physical-grouping" %}">
        <i class="fa fa-list-ul"></i>
	{% trans "Physical grouping" %}
    </a>
    <a class="list-group-item list-group-item-info" href="{% url "topologie:index-model-switch" %}">
        <i class="fa fa-list-ul"></i>
	{% trans "Switch models and constructors" %}
    </a>
{% endblock %}

