{% extends 'topologie/sidebar.html' %}
{% comment %}
Re2o est un logiciel d'administration développé initiallement au Rézo Metz. Il
se veut agnostique au réseau considéré, de manière à être installable en
quelques clics.

Copyright © 2017  Gabriel Détraz
Copyright © 2017  Lara Kermarec
Copyright © 2017  Augustin Lemesle

This program is free software; you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation; either version 2 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License along
with this program; if not, write to the Free Software Foundation, Inc.,
51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.
{% endcomment %}

{% load bootstrap3 %}
{% load i18n %}

{% block title %}{% trans "Topology" %}{% endblock %}

{% block content %}
{% if topoform %}
{% bootstrap_form_errors topoform %}
 {{ topoform.media }}
{% endif %}
{% if machineform %}
{% bootstrap_form_errors machineform %}
{{ machineform.media }}
{% endif %}
{% if domainform %}
{% bootstrap_form_errors domainform %}
{% endif %}



<form class="form" method="post">
    {% csrf_token %}
    {% if topoform %}
    <h3>{% blocktrans %}Specific settings for the {{ device }} object{% endblocktrans %}</h3>
    {% bootstrap_form topoform %}
    {% endif %}
    {% if machineform %}
    <h3>{% blocktrans %}General settings for the machine linked to the {{ device }} object{% endblocktrans %}</h3>
    {% bootstrap_form machineform %}
    {% endif %}
    {% if domainform %}
    <h3>{% trans "DNS name" %}</h3>
    {% bootstrap_form domainform %}
    {% endif %}
    {% trans "Confirm" as tr_confirm %}
    {% bootstrap_button tr_confirm button_type="submit" icon='ok' button_class='btn-success' %}
</form>
  <br />
  <br />
  <br />
{% endblock %}

