{% extends 'users/sidebar.html' %}
{% comment %}
Re2o est un logiciel d'administration développé initiallement au rezometz. Il
se veut agnostique au réseau considéré, de manière à être installable en
quelques clics.

Copyright © 2017  Gabriel Détraz
Copyright © 2017  Lara Kermarec
Copyright © 2017  Augustin Lemesle

This program is free software; you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation; either version 2 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License along
with this program; if not, write to the Free Software Foundation, Inc.,
51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.
{% endcomment %}

{% load bootstrap3 %}
{% load i18n %}
{% load humanize %}
{% load logs_extra %}
{% load acl %}

{% block title %}{% trans "Tickets" %}{% endblock %}

{% block content %}

<h2>{% blocktrans with id=ticket.id %}Ticket #{{id}}{% endblocktrans %} 
{% if ticket.solved %}
<span class="badge badge-success">{% trans "Solved" %}</span>
{% else %}
<span class="badge badge-danger">{% trans "Not solved" %}</span>
{% endif %}
</h2>

<div class="panel panel-default">
<div class="panel-heading">
    {% trans "Opened by" %}
    {% if ticket.user %} 
        <a href="{% url 'users:profil' ticket.user.id%}">
            {{ ticket.user.get_full_name }}
        </a>
    {% else %}
        {% trans "Anonymous user" %}
    {% endif %}
    {{ ticket.date | naturalday}}.
    {% if not ticket.user %}
    {% trans "Response address: " %}<A HREF="mailto:{{ticket.email}}?subject={% trans "Response to your ticket"%}">{{ticket.email}}</A>
    {% endif %}

<div class="text-right">
    {% can_view ticket %}
    <a class="btn btn-info btn-sm" role="button" href="{% url 'tickets:add-comment' ticket.id %}"><i class="fa fa-plus"></i> {% trans "Add a comment " %}</a>
    {% acl_end %}
    {% can_edit ticket %}
    <a class="btn btn-info btn-sm" role="button" href="{% url 'tickets:edit-ticket' ticket.id %}"><i class="fa fa-edit"></i> {% trans "Edit" %}</a>
    {% if not ticket.solved %}
        <a class="btn btn-success btn-sm" role="button" href="{% url 'tickets:change-ticket-status' ticket.id %}"><i class="fa fa-check"></i> {% trans "Mark as solved" %}</a>
    {% else %}
        <a class="btn btn-warning btn-sm" role="button" href="{% url 'tickets:change-ticket-status' ticket.id %}"><i class="fa fa-close"></i> {% trans "Mark as unsolved" %}</a>
    {% endif %}
    {% acl_end %}
    {% history_button ticket text=True %}
</div>
</div>
<div class="panel-body">

    <p><b>{% trans "Title:" %}</b> {{ticket.title}}</p>
    <b>{% trans "Description:" %}</b> {{ ticket.description | linebreaks }}
 
</div>

{% for comment in comments %}
<div class="panel-footer">
    <p><span class="badge">{% trans "Comment " %}<b>#{{comment.comment_id}}</b></span> {% trans " added by " %}{{ comment.created_by.get_full_name }}{% trans " on " %} {{comment.created_at}}</p>
    <b>{% trans "Description:" %}</b> {{ comment.comment | linebreaks }}
    <div class="text-right">
     {% can_edit comment %}
    <a class="btn btn-info btn-sm" role="button" href="{% url 'tickets:edit-comment' comment.id %}"><i class="fa fa-edit"></i> {% trans "Edit this comment " %}</a>
    {% acl_end %}
    {% can_delete comment %}
    <a class="btn btn-danger btn-sm" role="button" href="{% url 'tickets:del-comment' comment.id %}"><i class="fa fa-close"></i> {% trans "Delete this comment " %}</a>
    {% acl_end %}
    {% history_button comment text=True %}
    </div>
</div>
{% endfor %}
</div>

<div class="text-right">
    <a class="btn btn-primary" role="button" href="{% url 'tickets:aff-tickets' %}"><i class="fa fa-reorder"></i> {% trans "All tickets" %}</a>
</div>

{% endblock %}
