{% extends 'users/sidebar.html' %}
{% comment %}
Re2o est un logiciel d'administration développé initiallement au rezometz. Il
se veut agnostique au réseau considéré, de manière à être installable en
quelques clics.

Copyright © 2017  Gabriel Détraz
Copyright © 2017  Lara Kermarec
Copyright © 2017  Augustin Lemesle
Copyright © 2017  Maël Kervella

This program is free software; you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation; either version 2 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License along
with this program; if not, write to the Free Software Foundation, Inc.,
51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.
{% endcomment %}

{% load bootstrap3 %}
{% load massive_bootstrap_form %}
{% load i18n %}

{% block title %}{% trans "Ticket" %}{% endblock %}

{% block content %}
<h2>{% trans "Ticket opening" %}</h2>

<form class="form" method="post">
    {% csrf_token %}
    {% if not user.is_authenticated %}
    <p>{% trans "You are not authenticated. Please log in or provide an email address so we can get back to you." %}</p>
        {% bootstrap_field ticketform.email %}
    {% endif %}
        {% bootstrap_field ticketform.title %}
        <br>
        <p>{% trans "Description of your problem. Please give as much information as possible to help us searching for a solution. Here is some information we might need:" %}</p>
        <ul class="list">
            <li>
                <p> {% trans "The type of your problem (membership, connection, payment etc.)." %}</p>
            </li>
            <li>
                <p> {% trans "The conditions in which you encounter the problem (Wi-Fi/wired connection, on every machines or only one, on a new machine etc.)." %}</p>
            </li>
            <li>
                <p> {% trans "The locations where you encounter the problem (in your room, in a common space, in a specific building etc.)." %}</p>
        </ul>
        {% bootstrap_field ticketform.description %}
    {% trans "Open the ticket" as tr_open %}
    {% bootstrap_button tr_open button_type="submit" icon='ok' button_class='btn-success' %}
</form>
{% endblock %}
