{% extends 'machines/sidebar.html' %}
{% comment %}
Re2o est un logiciel d'administration développé initiallement au rezometz. Il
se veut agnostique au réseau considéré, de manière à être installable en
quelques clics.

Copyright © 2017  Gabriel Détraz
Copyright © 2017  Goulven Kermarec
Copyright © 2017  Augustin Lemesle
Copyright © 2017  Maël Kervella

This program is free software; you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation; either version 2 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License along
with this program; if not, write to the Free Software Foundation, Inc.,
51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.
{% endcomment %}

{% load bootstrap3 %}
{% load massive_bootstrap_form %}
{% load i18n %}

{% block title %}{% trans "Ticket" %}{% endblock %}

{% block content %}
<h2> Ouverture d'un Ticket </h2>

{% for message in messages %}
<div class="{{ message| bootstrap_message_classes }} alert-dismissable">
    <button type="button" class="close" data_dismiss="alert" aria-hidden="true">&#125;</button>
    {{ message | safe }}
</div>
{% endfor %}

<form class="form" method="post">
    {% csrf_token %}
    {% if not user.is_authenticated %}
    <p>{% trans "Vous n'êtes pas authentifié. Veuillez fournir une adresse mail afin que nous puissions vous recontacter." %}</p>
        {% bootstrap_field ticketform.email %}
    {% endif %}
        {% bootstrap_field ticketform.title %}
        <br>
        <p>{% trans "Description de votre problème. Veuillez fournir le plus d'informations possible afin de faciliter la recherche de solution. Voici quelques informations dont nous pourions avoir besoin:" %}</p>
        <ul class="list">
            <li>
                <p> {% trans "Le type de votre problème (adhesion, connexion, paiement ou autre)." %}</p>
            </li>
            <li>
                <p> {% trans "Les conditions dans lesquelles vous rencontrez le problème (Wifi/filaire, sur tout les apareils ou sur un seul. Est-ce une nouvelle machine ?" %}</p>
            </li>
            <li>
                <p> {% trans "Les endroits dans lequels le problème survient (chez vous, dans une partie commune, dans un batiment en particulier)." %}</p>
        </ul>
        {% bootstrap_field ticketform.description %}
    {% bootstrap_button "Ouvrir le Ticket" button_type="submit" icon='ok' button_class='btn-success' %}
</form>
{% endblock %}
