{% load i18n %}
     <br>
        <p>{% trans "Description of your problem. Please give as much information as possible to help us searching for a solution. Here is some information we might need:" %}</p>
        <ul class="list">
            <li>
                <p> {% trans "The type of your problem (membership, connection, payment etc.)." %}</p>
            </li>
            <li>
                <p> {% trans "The conditions in which you encounter the problem (Wi-Fi/wired connection, on every machines or only one, on a new machine etc.)." %}</p>
            </li>
            <li>
                <p> {% trans "The locations where you encounter the problem (in your room, in a common space, in a specific building etc.)." %}</p>
        </ul>

