{% comment %}
Re2o est un logiciel d'administration développé initiallement au Rézo Metz. Il
se veut agnostique au réseau considéré, de manière à être installable en
quelques clics.

Copyright © 2017  Gabriel Détraz
Copyright © 2017  Lara Kermarec
Copyright © 2017  Augustin Lemesle

This program is free software; you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation; either version 2 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License along
with this program; if not, write to the Free Software Foundation, Inc.,
51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.
{% endcomment %}
{% load acl %}
{% load logs_extra %}
{% load i18n %}

{% for service in service_list %}
<div class="panel panel-default">
    <div class="panel-heading">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-9">
                    <h4>{{ service.name }}</h4>
                </div>
                <div class="col-sm-3 text-right">
                    {% can_edit service %}
                    {% include 'buttons/edit.html' with href='preferences:edit-service' id=service.id %}
                    {% acl_end %}
                    {% can_delete service %}
                    {% include 'buttons/suppr.html' with href='preferences:del-service' id=service.id %}
                    {% acl_end %}
                    {% history_button service %}
                </div>
            </div>
        </div>
    </div>
    <div class="panel-body">
        {{ service.description }}
    </div>
    <div class="panel-footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-6">
                    <b>{% trans "URL" %}: </b>{{ service.url }}
                </div>
                <div class="col-sm-6">
                    <b>{% trans "Image" %}: </b>{{ service.image }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}
