{% comment %}
Re2o est un logiciel d'administration développé initiallement au rezometz. Il
se veut agnostique au réseau considéré, de manière à être installable en
quelques clics.

Copyright © 2017  Gabriel Détraz
Copyright © 2017  Goulven Kermarec
Copyright © 2017  Augustin Lemesle

This program is free software; you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation; either version 2 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License along
with this program; if not, write to the Free Software Foundation, Inc.,
51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.
{% endcomment %}
{% load acl %}
{% load logs_extra %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id Clef</th>
		<th>Commentaire</th>
                <th>Clef par default des switchs</th>
		<th>Clef utilisée par les switchs</th>
		<th></th>
                <th></th>
            </tr>
        </thead>
        {% for radiuskey in radiuskey_list %}
        <tr>
            <td>{{ radiuskey.id }}</td>
            <td>{{ radiuskey.comment }}</td>
            <td>{{ radiuskey.default_switch }}</td>
	    <td>{{ radiuskey.switch_set.all|join:", " }}</td>
            <td class="text-right">
            {% can_edit radiuskey %}
            {% include 'buttons/edit.html' with href='preferences:edit-radiuskey' id=radiuskey.id %}
            {% acl_end %}
	    {% can_delete radiuskey %}
            <a class="btn btn-danger btn-sm" role="button" title="Supprimer" href="{% url 'preferences:del-radiuskey' radiuskey.pk %}">
		   <i class="fa fa-trash"></i>
            </a>
            {% acl_end %}
            {% history_button radiuskey %}
            </td>
        </tr>
        {% endfor %}
    </table>

