{% extends "preferences/sidebar.html" %}
{% comment %}
Re2o est un logiciel d'administration développé initiallement au rezometz. Il
se veut agnostique au réseau considéré, de manière à être installable en
quelques clics.

Copyright © 2017  Gabriel Détraz
Copyright © 2017  Goulven Kermarec
Copyright © 2017  Augustin Lemesle

This program is free software; you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation; either version 2 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License along
with this program; if not, write to the Free Software Foundation, Inc.,
51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.
{% endcomment %}

{% load bootstrap3 %}
{% load acl %}

{% block title %}Création et modification des préférences{% endblock %}

{% block content %}
    <h4>Préférences utilisateur</h4>
        <a class="btn btn-primary btn-sm" role="button" href="{% url 'preferences:edit-options' 'OptionalUser' %}">
	    <i class="fa fa-edit"></i>
            Editer
	</a>
    <p>
    </p>
    <h5>Généralités</h5>
    <table class="table table-striped">
        <tr>
            <th>Téléphone obligatoirement requis</th>
            <td>{{ useroptions.is_tel_mandatory }}</td>
	    <th>Auto inscription</th>
            <td>{{ useroptions.self_adhesion }}</td>
        </tr>
        <tr>
            <th>Champ gpg fingerprint</th>
            <td>{{ useroptions.gpg_fingerprint }}</td>
 	    <th>Shell par défaut des utilisateurs</th>
            <td>{{ useroptions.shell_default }}</td>
        </tr>
        <tr>
            <th>Creations d'adhérents par tous</th>
            <td>{{ useroptions.all_can_create_adherent }}</td>
	    <th>Creations de clubs par tous</th>
	    <td>{{ useroptions.all_can_create_club }}</td>
        </tr>
    </table>
    <h5>{% if useroptions.user_solde %}<span class="label label-success">Gestion du solde{% else %}<span class="label label-danger">Gesion du solde{% endif%}</span></h5>
    <table class="table table-striped">
	<tr>
            <th>Activation du solde pour les utilisateurs</th>
            <td>{{ useroptions.user_solde }}</td>

	    <th>Solde négatif</th>
	    <td>{{ useroptions.solde_negatif }}</td>
        </tr>
	<tr>
	    <th>Solde maximum</th>
            <td>{{ useroptions.max_solde }}</td>
	    <th>Montant minimal de rechargement en ligne</th>
	    <td>{{ useroptions.min_online_payment }}</td>
	</tr>
    </table>
    <h5>{% if useroptions.mail_accounts %}<span class="label label-success">Comptes mails{% else %}<span class="label label-danger">Comptes mails{% endif%}</span></h5>
    <table class="table table-striped">
	<tr>
		<th>Gestion des comptes mails</th>
		<td>{{ useroptions.mail_accounts }}</td>
		<th>Extension mail interne</th>
		<td>{{ useroptions.mail_extension }}</td>
	</tr>
	<tr>
		<th>Nombre d'alias maximum</th>
		<td>{{ useroption.max_mail_alias }}<td>
	</tr>
    </table>

    <h4>Préférences machines</h4>
        <a class="btn btn-primary btn-sm" role="button" href="{% url 'preferences:edit-options' 'OptionalMachine' %}">
            <i class="fa fa-edit"></i>
            Editer
        </a>
    <p>
    </p>
     <table class="table table-striped">
        {% for line in machineoptions %}
	<tr>
	{% for text, field in line %}
            <th>{{ field }}</th>
            <td>{{ text }}</td>
	{% endfor %}
	</tr>
        {% endfor %}
    </table>
    <h4>Préférences topologie</h4>
        <a class="btn btn-primary btn-sm" role="button" href="{% url 'preferences:edit-options' 'OptionalTopologie' %}">
            <i class="fa fa-edit"></i>
            Editer
        </a>
    <p>
    </p>
    <table class="table table-striped">
        {% for line in topologieoptions %}
	<tr>
	{% for text, field in line %}
            <th>{{ field }}</th>
            <td>{{ text }}</td>
	{% endfor %}
	</tr>
        {% endfor %}
    </table>

    <h4>Préférences generales</h4>
        <a class="btn btn-primary btn-sm" role="button" href="{% url 'preferences:edit-options' 'GeneralOption' %}">
            <i class="fa fa-edit"></i>
            Editer
        </a>
    <p>
    </p>
    <table class="table table-striped">
        {% for line in generaloptions %}
	<tr>
	{% for text, field in line %}
            <th>{{ field }}</th>
            <td>{{ text }}</td>
	{% endfor %}
	</tr>
        {% endfor %}
    </table>

    <h4>Données de l'association</h4>
        <a class="btn btn-primary btn-sm" role="button" href="{% url 'preferences:edit-options' 'AssoOption' %}">
            <i class="fa fa-edit"></i>
            Editer
        </a>
    <p>
    </p>
    <table class="table table-striped">
        {% for line in assooptions %}
	<tr>
	{% for text, field in line %}
            <th>{{ field }}</th>
            <td>{{ text }}</td>
	{% endfor %}
	</tr>
        {% endfor %}
    </table>

    <h4>Messages personalisé dans les mails</h4>
        <a class="btn btn-primary btn-sm" role="button" href="{% url 'preferences:edit-options' 'MailMessageOption' %}">
            <i class="fa fa-edit"></i>
            Editer
        </a>
    <p>
    </p>
    <table class="table table-striped">
        {% for line in assooptions %}
	<tr>
	{% for text, field in line %}
            <th>{{ field }}</th>
            <td>{{ text }}</td>
	{% endfor %}
	</tr>
        {% endfor %}
    </table>

  <h2>Liste des services et préférences page d'accueil</h2>
  {% can_create preferences.Service%}
  <a class="btn btn-primary btn-sm" role="button" href="{% url 'preferences:add-service'  %}"><i class="fa fa-plus"></i> Ajouter un service</a>
  {% acl_end %}
  {%  include "preferences/aff_service.html" with  service_list=service_list %}

  <h2>Liste des adresses mail de contact</h2>
  {% can_create preferences.MailContact%}
  <a class="btn btn-primary btn-sm" role="button" href="{% url 'preferences:add-mailcontact'  %}"><i class="fa fa-plus"></i>Ajouter une adresse</a>
  {% acl_end %}
  <a class="btn btn-danger btn-sm" role="button" href="{% url 'preferences:del-mailcontact'  %}"><i class="fa fa-trash"></i>Supprimer une ou plusieurs adresses</a>
  {%  include "preferences/aff_mailcontact.html" with  mailcontact_list=mailcontact_list %}


        <a class="btn btn-primary btn-sm" role="button" href="{% url 'preferences:edit-options' 'HomeOption' %}">
            <i class="fa fa-edit"></i>
            Editer
        </a>
    <p>
    <table class="table table-striped">
        {% for line in assooptions %}
	<tr>
	{% for text, field in line %}
            <th>{{ field }}</th>
            <td>{{ text }}</td>
	{% endfor %}
	</tr>
        {% endfor %}
    </table>


<h2>Options pour le mail de fin d'adhésion</h2>
  {% can_create preferences.Reminder%}
  <a class="btn btn-primary btn-sm" role="button" href="{% url 'preferences:add-reminder'  %}"><i class="fa fa-plus"></i> Ajouter un rappel</a>
  {% acl_end %}
  {%  include "preferences/aff_reminder.html" with  reminder_list=reminder_list %}

  <br />
  <br />
  <br />
{% endblock %}
