{% extends "preferences/sidebar.html" %}
{% comment %}
Re2o est un logiciel d'administration développé initiallement au rezometz. Il
se veut agnostique au réseau considéré, de manière à être installable en
quelques clics.

Copyright © 2017  Gabriel Détraz
Copyright © 2017  Goulven Kermarec
Copyright © 2017  Augustin Lemesle

This program is free software; you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation; either version 2 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License along
with this program; if not, write to the Free Software Foundation, Inc.,
51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.
{% endcomment %}

{% load bootstrap3 %}
{% load acl %}

{% block title %}Création et modification des préférences{% endblock %}

{% block content %}
    <h4>Préférences utilisateur</h4>
        <a class="btn btn-primary btn-sm" role="button" href="{% url 'preferences:edit-options' 'OptionalUser' %}">
	    <i class="fa fa-edit"></i>
            Editer
	</a>
    <p>
    </p>
    <table class="table table-striped">
        {% for line in useroptions %}
	<tr>
	{% for text, field in line %}
            <th>{{ field }}</th>
            <td>{{ text }}</td>
	{% endfor %}
	</tr>
        {% endfor %}
    </table>
    <h4>Préférences machines</h4>
        <a class="btn btn-primary btn-sm" role="button" href="{% url 'preferences:edit-options' 'OptionalMachine' %}">
            <i class="fa fa-edit"></i>
            Editer
        </a>
    <p>
    </p>
     <table class="table table-striped">
        {% for line in machineoptions %}
	<tr>
	{% for text, field in line %}
            <th>{{ field }}</th>
            <td>{{ text }}</td>
	{% endfor %}
	</tr>
        {% endfor %}
    </table>
    <h4>Préférences topologie</h4>
        <a class="btn btn-primary btn-sm" role="button" href="{% url 'preferences:edit-options' 'OptionalTopologie' %}">
            <i class="fa fa-edit"></i>
            Editer
        </a>
    <p>
    </p>
    <table class="table table-striped">
        {% for line in topologieoptions %}
	<tr>
	{% for text, field in line %}
            <th>{{ field }}</th>
            <td>{{ text }}</td>
	{% endfor %}
	</tr>
        {% endfor %}
    </table>

    <h4>Préférences generales</h4>
        <a class="btn btn-primary btn-sm" role="button" href="{% url 'preferences:edit-options' 'GeneralOption' %}">
            <i class="fa fa-edit"></i>
            Editer
        </a>
    <p>
    </p>
    <table class="table table-striped">
        {% for line in generaloptions %}
	<tr>
	{% for text, field in line %}
            <th>{{ field }}</th>
            <td>{{ text }}</td>
	{% endfor %}
	</tr>
        {% endfor %}
    </table>

    <h4>Données de l'association</h4>
        <a class="btn btn-primary btn-sm" role="button" href="{% url 'preferences:edit-options' 'AssoOption' %}">
            <i class="fa fa-edit"></i>
            Editer
        </a>
    <p>
    </p>
    <table class="table table-striped">
        {% for line in assooptions %}
	<tr>
	{% for text, field in line %}
            <th>{{ field }}</th>
            <td>{{ text }}</td>
	{% endfor %}
	</tr>
        {% endfor %}
    </table>

    <h4>Messages personalisé dans les mails</h4>
        <a class="btn btn-primary btn-sm" role="button" href="{% url 'preferences:edit-options' 'MailMessageOption' %}">
            <i class="fa fa-edit"></i>
            Editer
        </a>
    <p>
    </p>
    <table class="table table-striped">
        {% for line in assooptions %}
	<tr>
	{% for text, field in line %}
            <th>{{ field }}</th>
            <td>{{ text }}</td>
	{% endfor %}
	</tr>
        {% endfor %}
    </table>

  <h2>Liste des services et préférences page d'accueil</h2>
  {% can_create preferences.Service%}
  <a class="btn btn-primary btn-sm" role="button" href="{% url 'preferences:add-service'  %}"><i class="fa fa-plus"></i> Ajouter un service</a>
  {% acl_end %}
  {%  include "preferences/aff_service.html" with  service_list=service_list %}

        <a class="btn btn-primary btn-sm" role="button" href="{% url 'preferences:edit-options' 'HomeOption' %}">
            <i class="fa fa-edit"></i>
            Editer
        </a>
    <p>
    <table class="table table-striped">
        {% for line in assooptions %}
	<tr>
	{% for text, field in line %}
            <th>{{ field }}</th>
            <td>{{ text }}</td>
	{% endfor %}
	</tr>
        {% endfor %}
    </table>


<h2>Options pour le mail de fin d'adhésion</h2>
  {% can_create preferences.Reminder%}
  <a class="btn btn-primary btn-sm" role="button" href="{% url 'preferences:add-reminder'  %}"><i class="fa fa-plus"></i> Ajouter un rappel</a>
  {% acl_end %}
  {%  include "preferences/aff_reminder.html" with  reminder_list=reminder_list %}

  <br />
  <br />
  <br />
{% endblock %}
