{% comment %}
Re2o est un logiciel d'administration développé initiallement au Rézo Metz. Il
se veut agnostique au réseau considéré, de manière à être installable en
quelques clics.

Copyright © 2021  Jean-Romain Garnier

This program is free software; you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation; either version 2 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License along
with this program; if not, write to the Free Software Foundation, Inc.,
51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.
{% endcomment %}

{% load bootstrap3 %}
{% load i18n %}

{% block content %}

<div class="table-responsive">

	<table class="table">
    <thead>
        <tr>
        <th scope="col"></th>
	    <th scope="col">{% trans "User" %}</th>
	    <th scope="col">{% trans "Item" %}</th>
        <th scope="col">{% trans "Amount" %}</th>
	    <th scope="col">{% trans "Date" %}</th>
	    <th scope="col">{% trans "Returned" %}</th> 
        </tr>
        {% for deposit in deposits_list %}
        <tr>
            <td>
                <a href="{% url 'deposits:aff-deposit' deposit.id%}" class="btn btn-primary btn-sm" role="button">
                    <i class="fa fa-balance-scale"></i>
                </a>
            </td>
            <td><a href="{% url 'users:profil' deposit.user.id%}" role="button">{{ deposit.user.get_short_name }}</a></td>
            <td>{{ deposit.item.name }}</td>
            <td>{{ deposit.item.deposit_amount }} €</td>
            <td>{{ deposit.date }}</td>
            {% if deposit.returned %}
                <td><i class="fa fa-check" style="color:green"></i></td>
            {% else %}
                <td><i class="fa fa-times" style="color:red"></i></td>
            {% endif %}        
        </tr>
        {% endfor %}
        
    </thead>
    </table>

	{% if deposits_list.paginator %}
    	{% include 'pagination.html' with list=deposits_list go_to_id="deposits" %}
	{% endif %}
</div>
{% endblock %}
