
  Stack trace:

  11  /usr/lib/python3.9/site-packages/clikit/console_application.py:123 in run
      io = io_factory(

  10  /usr/lib/python3.9/site-packages/poetry/console/config/application_config.py:221 in create_io
      resolved_command = application.resolve_command(args)

   9  /usr/lib/python3.9/site-packages/clikit/console_application.py:110 in resolve_command
      return self._config.command_resolver.resolve(args, self)

   8  /usr/lib/python3.9/site-packages/clikit/resolver/default_resolver.py:34 in resolve
      return self.create_resolved_command(result)

   7  /usr/lib/python3.9/site-packages/clikit/resolver/default_resolver.py:166 in create_resolved_command
      if not result.is_parsable():

   6  /usr/lib/python3.9/site-packages/clikit/resolver/resolve_result.py:43 in is_parsable
      self._parse()

   5  /usr/lib/python3.9/site-packages/clikit/resolver/resolve_result.py:49 in _parse
      self._parsed_args = self._command.parse(self._raw_args)

   4  /usr/lib/python3.9/site-packages/clikit/api/command/command.py:113 in parse
      return self._config.args_parser.parse(args, self._args_format, lenient)

   3  /usr/lib/python3.9/site-packages/clikit/args/default_args_parser.py:53 in parse
      self._parse(args, _fmt, lenient)

   2  /usr/lib/python3.9/site-packages/clikit/args/default_args_parser.py:103 in _parse
      self._parse_short_option(token, tokens, fmt, lenient)

   1  /usr/lib/python3.9/site-packages/clikit/args/default_args_parser.py:272 in _parse_short_option
      self._add_short_option(name, None, tokens, fmt, lenient)

  NoSuchOptionException

  The "-D" option does not exist.

  at /usr/lib/python3.9/site-packages/clikit/args/default_args_parser.py:349 in _add_short_option
      345│     def _add_short_option(
      346│         self, name, value, tokens, fmt, lenient
      347│     ):  # type: (str, Optional[str], List[str], ArgsFormat, bool) -> None
      348│         if not fmt.has_option(name):
    → 349│             raise NoSuchOptionException(name)
      350│ 
      351│         self._add_long_option(
      352│             fmt.get_option(name).long_name, value, tokens, fmt, lenient
      353│         )
