[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==1.11.*"
"django-bootstrap3" = "*"
django-macaddress = "*"
django-font-awesome = "*"
python-dateutil = "*"
djangorestframework = "*"
django-reversion = "*"
"psycopg2" = "*"

[dev-packages]
volatildap = "*"

[requires]
python_version = "3.6"
