[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==2.2.18"
django-autocomplete-light = "*"
django-bootstrap3 = "*"
django-rest-framework = "*"
django-reversion = "*"
mysqlclient = "*"
pillow = "*"
python-dateutil = "*"
django-macaddress = "*"
pycrypto = "*"
django-ldapdb = "*"
gitpython = "*"

[dev-packages]
sphinx = "*"
sphinx-rtd-theme = "*"
black = "*"
rope = "*"
coverage = "*"
coveralls = "*"
docstr-coverage = "*"
pyyaml = "*"

[pipenv]
allow_prereleases = true
