{% comment %}
Re2o est un logiciel d'administration développé initiallement au rezometz. Il
se veut agnostique au réseau considéré, de manière à être installable en
quelques clics.

Copyright © 2018  Gabriel Détraz

This program is free software; you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation; either version 2 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License along
with this program; if not, write to the Free Software Foundation, Inc.,
51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.
{% endcomment %}

{% load acl %}
{% load logs_extra %}
{% load i18n %}


<div class="table-responsive">
    {% if digicodes_list.paginator %}
          {% include "pagination.html" with list=digicodes_list %}
    {% endif %}

    <table class="table table-striped">
        <thead>
        <tr>
            {% trans "User" as tr_user %}
            {% trans "Digicode" as tr_code %}
            {% trans "Created on" as tr_created_on %}
            <th>{% include "buttons/sort.html" with prefix='code' col='user' text=tr_user %}</th>
	    <th>{% include "buttons/sort.html" with prefix='code' col='code' text=tr_code %}</th>
	    <th>{% include "buttons/sort.html" with prefix='code' col='created' text=tr_created_on %}</th>
	</tr>
        </thead>
        {% for digicode in digicodes_list %}
	{% can_view digicode %}
            <tr>
              <td>{{ digicode.user }}</td>
	      {% with code=digicode.code %}
              <td>{{ code }}#</td>
	      {% endwith %}
	      <td>{{ digicode.created }}</td>
            </tr>
	{% acl_end %}
        {% endfor %}
    </table>

    {% if digicodes_list.paginator %}
          {% include "pagination.html" with list=digicodes_list %}
    {% endif %}
</div>
