{% extends "printer/sidebar.html" %}
{% load staticfiles %}

{% load i18n %}
{% load bootstrap3 %}
{% load massive_bootstrap_form %}

{% block title %}Printing interface{% endblock %}

{% block content %}
<form class="form" method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <h3>{% trans "Printing Menu" %}</h3>
  {{ jobform.management_form }}
  {% bootstrap_formset_errors jobform %}
  <div class="row">
  <div id="form_set" class="form-group container">
     {% for job in jobform.forms %}
    <div class="file_to_print col-xs-12 col-sm-4 col-md-3" style="margin-top:1em">
      {% massive_bootstrap_form job ""  %}
      <button class="btn btn-danger form-job-remove" type="button">
        <span class="fa fa-times"></span>
        {% trans "Delete file"%}
      </button>
    </div>
    {% endfor %}
  </div>
  </div>

  <hr>

  <div class="col-xs-12 row btn-toolbar">
  <button type="button" class="btn btn-primary" icon="plus" role="button" id="add_one">{% trans "Add a file"%}</button>
  {% bootstrap_button action_name button_type="submit" icon='ok' button_class='btn-success' %}
  </div>
  <div style="clear:both; margin-bottom:1em"></div>
</form>
<script type="text/javascript">

  var template = `{% bootstrap_form jobform.empty_form  %}
          <button class="btn btn-danger form-job-remove" type="button">
            <span class="fa fa-times"></span>
            {% trans "Delete file"%}
        </button>`
  
	function add_job() {
	  newId = document.getElementsByClassName('file_to_print').length;
	  
	  
          document.getElementById('id_form-TOTAL_FORMS').value ++;
	  
          var new_job = document.createElement('div');
	  
          new_job.className = 'file_to_print col-xs-12 col-sm-4 col-md-3';
	  
	  new_job.style.marginTop = '1em';
	  
          new_job.innerHTML = template.replace(/__prefix__/g, newId);
	  
          document.getElementById('form_set').appendChild(new_job);

	  var newJobLength = new_job.childNodes.length
	  
	  add_listener_for_btn(new_job.childNodes[newJobLength - 1]);  
  }

	  
	  function del_job(job, event){
	  // var job = event.target.parentNode;
	  job.parentNode.removeChild(job);
	  document.getElementById('id_form-TOTAL_FORMS').value --;
	  }

	  
	  function add_listener_for_btn(rmBtn){

	  rmBtn.addEventListener("click", function(event){del_job(rmBtn.parentNode, event)});
	  
	  }
	  
	  
  // Add events manager when DOM is fully loaded
  document.addEventListener(
     "DOMContentLoaded",
     function() {
          document.getElementById("add_one").addEventListener("click", add_job, true);

	  // Array of all the delete buttons
	  var allBtns = document.getElementsByClassName("form-job-remove");

	  for (var i=0; i < allBtns.length; i++) {
	      add_listener_for_btn(allBtns[i]);
	}

	}
	  
	)
	    

</script>
{% endblock %}

