{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

{% load bootstrap3 %}
{% load massive_bootstrap_form %}
{% load static %}
{% block title %}Printing interface{% endblock %}

{% block content %}
<form class="form" method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <h3>{% trans "Confirm printing" %}</h3>
  {{ jobform.management_form }}
  {% bootstrap_formset_errors jobform %}
    <div id="form_set" class="form-group container">
      {% for job in jobform.forms %}
      <div class="file_to_print col-xs-12 col-sm-4 col-md-3" style="margin-top:1em">
	{% massive_bootstrap_form job "" %}
      </div>
      {% endfor %}
    </div>
  {% bootstrap_button action_name name="Print" button_type="submit" icon="star" %}
</form>
{% endblock %}
