    <table class="table table-striped">
        <thead>
            <tr>
                <th>Utilisateur</th>
                <th>Designation</th>
                <th>Prix total</th>
                <th>Moyen de paiement</th>
                <th>Date</th>
  		<th></th>
  		<th></th>
            </tr>
        </thead>
        {% for facture in facture_list %}
        <tr>
            <td>{{ facture.user }}</td>
            <td>{{ facture.name }}</td>
            <td>{{ facture.prix_total }}</td>
            <td>{{ facture.paiement }}</td>
            <td>{{ facture.date }}</td>
            <td>{% if is_cableur %}<a class="btn btn-primary btn-sm" role="button" href="{% url 'cotisations:edit-facture' facture.id %}"><i class="glyphicon glyphicon-bitcoin"></i> Editer</a>{% endif %}</td>
            <td><a class="btn btn-primary btn-sm" role="button" href="{% url 'cotisations:facture-pdf' facture.id %}"><i class="glyphicon glyphicon-save"></i> PDF</a></td>
        </tr>
        {% endfor %}
    </table>

