    <table class="table table-striped">
        <thead>
            <tr>
                <th>Moyen de paiement</th>
                <th></th>
            </tr>
        </thead>
        {% for paiement in paiement_list %}
        <tr>
            <td>{{ paiement.moyen }}</td>
            <td>{% if is_trez %}<a class="btn btn-primary btn-sm" role="button" href="{% url 'cotisations:edit-paiement' paiement.id %}"><i class="glyphicon glyphicon-pushpin"></i> Editer</a>{% endif %}</td>
        </tr>
        {% endfor %}
    </table>

