    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nom de l'article</th>
                <th>Prix</th>
                <th>Cotisation</th>
                <th>Durée (en mois)</th>
                <th></th>
            </tr>
        </thead>
        {% for article in article_list %}
        <tr>
            <td>{{ article.name }}</td>
            <td>{{ article.prix }}</td>
            <td>{{ article.cotisation }}</td>
            <td>{{ article.duration }}</td>
            <td>{% if is_trez %}<a class="btn btn-primary btn-sm" role="button" href="{% url 'cotisations:edit-article' article.id %}"><i class="glyphicon glyphicon-pushpin"></i> Editer</a>{% endif %}
            <a class="btn btn-info btn-sm" role="button" href="{% url 'cotisations:history' 'article' article.id %}"><i class="glyphicon glyphicon-time"></i> Historique</a></td>
        </tr>
        {% endfor %}
    </table>

