 {% if facture_list.paginator %}
 <ul class="pagination nav navbar-nav">
    {% if facture_list.has_previous %}
            <li><a href="?page={{ facture_list.previous_page_number }}">Suivantes</a></li>
    {% endif %}
    {% for page in facture_list.paginator.page_range %}
        <li class="{% if facture_list.number == page  %}active{% endif %}"><a href="?page={{page }}">{{ page }}</a></li>
    {% endfor %}

    {% if facture_list.has_next %}
        <li> <a href="?page={{ facture_list.next_page_number }}">Précédentes</a></li>
    {% endif %}
 </ul>
 {% endif %}

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Utilisateur</th>
                <th>Designation</th>
                <th>Prix total</th>
                <th>Moyen de paiement</th>
                <th>Date</th>
  		<th></th>
  		<th></th>
                <th></th>
            </tr>
        </thead>
        {% for facture in facture_list %}
        <tr>
            <td>{{ facture.user }}</td>
            <td>{{ facture.name }}</td>
            <td>{{ facture.prix_total }}</td>
            <td>{{ facture.paiement }}</td>
            <td>{{ facture.date }}</td>
            {% if is_cableur %}
            <td><div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="editionfacture" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Modifier
            <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="editionfacture">
            {% if facture.valid and not facture.control or is_trez %}
            <li><a href="{% url 'cotisations:edit-facture' facture.id %}"><i class="glyphicon glyphicon-bitcoin"></i> Editer</a></li>
            <li><a href="{% url 'cotisations:del-facture' facture.id %}"><i class="glyphicon glyphicon-trash"></i> Supprimer</a></li>
            {% else %}
            <li>Facture controlée</li>
            {% endif %}
            </ul></div></td>
            {% endif %}
            <td>{% if facture.valid %}<a class="btn btn-primary btn-sm" role="button" href="{% url 'cotisations:facture-pdf' facture.id %}"><i class="glyphicon glyphicon-save"></i> PDF</a>{% else %}Facture invalide{% endif %}</td>
            <td><a class="btn btn-info btn-sm" role="button" href="{% url 'cotisations:history' 'facture' facture.id %}"><i class="glyphicon glyphicon-repeat"></i> Historique</a></td>
        </tr>
        {% endfor %}
    </table>

