    <table class="table table-striped">
        <thead>
            <tr>
                <th>Banque</th>
                <th></th>
            </tr>
        </thead>
        {% for banque in banque_list %}
        <tr>
            <td>{{ banque.name }}</td>
            <td>{% if is_trez %}<a class="btn btn-primary btn-sm" role="button" href="{% url 'cotisations:edit-banque' banque.id %}"><i class="glyphicon glyphicon-pushpin"></i> Editer</a>{% endif %}
            <a class="btn btn-info btn-sm" role="button" href="{% url 'cotisations:history' 'banque' banque.id %}"><i class="glyphicon glyphicon-time"></i> Historique</a></td>
        </tr>
        {% endfor %}
    </table>

