{% comment %}
Re2o est un logiciel d'administration développé initiallement au rezometz. Il
se veut agnostique au réseau considéré, de manière à être installable en
quelques clics.

Copyright © 2017  Gabriel Détraz
Copyright © 2017  Goulven Kermarec
Copyright © 2017  Augustin Lemesle

This program is free software; you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation; either version 2 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License along
with this program; if not, write to the Free Software Foundation, Inc.,
51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.
{% endcomment %}

{% if facture_list.paginator %}
{% include "pagination.html" with list=facture_list %}
{% endif %}

    <table class="table table-striped">
        <thead>
            <tr>
                <th>{% include "buttons/sort.html" with prefix='cotis' col='user' text='Utilisateur' %}</th>
                <th>Designation</th>
                <th>Prix total</th>
                <th>{% include "buttons/sort.html" with prefix='cotis' col='paiement' text='Moyen de paiement' %}</th>
                <th>{% include "buttons/sort.html" with prefix='cotis' col='date' text='Date' %}</th>
		<th>{% include "buttons/sort.html" with prefix='cotis' col='id' text='Id facture' %}</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        {% for facture in facture_list %}
        <tr>
            <td><a href="{% url 'users:profil' userid=facture.user.id %}">{{ facture.user }}</a></td>
            <td>{{ facture.name }}</td>
            <td>{{ facture.prix_total }}</td>
            <td>{{ facture.paiement }}</td>
            <td>{{ facture.date }}</td>
	    <td>{{ facture.id }}</td>
            {% if is_cableur %}
            <td>
            <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="editionfacture" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Edition
            <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="editionfacture">
            {% if facture.valid and not facture.control or is_trez %}
                <li><a href="{% url 'cotisations:edit-facture' facture.id %}"><i class="glyphicon glyphicon-bitcoin"></i> Modifier</a></li>
                <li><a href="{% url 'cotisations:del-facture' facture.id %}"><i class="glyphicon glyphicon-trash"></i> Supprimer</a></li>
                <li><a href="{% url 'cotisations:history' 'facture' facture.id %}"><i class="glyphicon glyphicon-time"></i> Historique</a></li>
            {% else %}
                <li>Facture controlée</li>
            {% endif %}
            </ul>
            </div>
            </td>
            {% endif %}
            <td>
            {% if facture.valid %}
                <a class="btn btn-primary btn-sm" role="button" href="{% url 'cotisations:facture-pdf' facture.id %}">
                    <i class="glyphicon glyphicon-save"></i>
                    PDF
                </a>
            {% else %}
                <font color="red">Facture invalide</font>
            {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>

