{% comment %}
Re2o est un logiciel d'administration développé initiallement au Rézo Metz. Il
se veut agnostique au réseau considéré, de manière à être installable en
quelques clics.

Copyright © 2017  Gabriel Détraz
Copyright © 2017  Lara Kermarec
Copyright © 2017  Augustin Lemesle

This program is free software; you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation; either version 2 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License along
with this program; if not, write to the Free Software Foundation, Inc.,
51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.
{% endcomment %}

{% load acl %}
{% load i18n %}
{% load logs_extra %}
{% load design %}

<table class="table table-striped">
    <thead>
        <tr>
            <th>{% trans "Article" %}</th>
            <th>{% trans "Price" %}</th>
            <th>{% trans "Duration membership (in months)" %}</th>
            <th>{% trans "Duration membership (in days)" %}</th>
            <th>{% trans "Duration connection (in months)" %}</th>
            <th>{% trans "Duration connection (in days)" %}</th>
            <th>{% trans "Concerned users" %}</th>
            <th>{% trans "Available for everyone" %}</th>
            <th></th>
        </tr>
    </thead>
    {% for article in article_list %}
    <tr>
        <td>{{ article.name }}</td>
        <td>{{ article.prix }}</td>
        <td>{{ article.duration_membership }}</td>
        <td>{{ article.duration_days_membership }}</td>
        <td>{{ article.duration_connection }}</td>
        <td>{{ article.duration_days_connection }}</td>
        <td>{{ article.type_user }}</td>
        <td>{{ article.available_for_everyone | tick }}</td>
        <td class="text-right">
            {% can_edit article %}
            {% include 'buttons/edit.html' with href='cotisations:edit-article' id=article.id %}
            {% acl_end %}
            {% history_button article %}
        </td>
    </tr>
    {% endfor %}
</table>

