{% extends 'cotisations/sidebar.html' %}
{% comment %}
Re2o est un logiciel d'administration développé initiallement au Rézo Metz. Il
se veut agnostique au réseau considéré, de manière à être installable en
quelques clics.

Copyright © 2017  Gabriel Détraz
Copyright © 2017  Lara Kermarec
Copyright © 2017  Augustin Lemesle

This program is free software; you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation; either version 2 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License along
with this program; if not, write to the Free Software Foundation, Inc.,
51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.
{% endcomment %}

{% load bootstrap3 %}
{% load staticfiles%}
{% load i18n %}

{% block title %}{% trans "Invoice control" %}{% endblock %}

{% block content %}

<h2>{% trans "Invoice control and validation" %}</h2>

{% if facture_list.paginator %}
    {% include 'pagination.html' with list=facture_list %}
{% endif %}

<form class="form" method="post">
    {% csrf_token %}
    {{ controlform.management_form }}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>{% trans "Profile" %}</th>
                <th>
                    {% trans "First name" as tr_first_name %}
                    {% include 'buttons/sort.html' with prefix='control' col='name' text=tr_first_name %}
                </th>
                <th>
                    {% trans "Surname" as tr_surname %}
                    {% include 'buttons/sort.html' with prefix='control' col='surname' text=tr_surname %}
                </th>
                <th>
                    {% trans "Invoice ID" as tr_invoice_id %}
                    {% include 'buttons/sort.html' with prefix='control' col='id' text=tr_invoice_id %}
                </th>
                <th>
                    {% trans "User ID" as tr_user_id %}
                    {% include 'buttons/sort.html' with prefix='control' col='user-id' text=tr_user_id %}
                </th>
                <th>{% trans "Designation" %}</th>
                <th>{% trans "Total price" %}</th>
                <th>
                    {% trans "Payment method" as tr_payment_method %}
                    {% include 'buttons/sort.html' with prefix='control' col='paiement' text=tr_payment_method %}
                </th>
                <th>
                    {% trans "Date" as tr_date %}
                    {% include 'buttons/sort.html' with prefix='control' col='date' text=tr_date %}
		    </th>
                <th>
                    {% trans "Validated" as tr_validated %}
                    {% include 'buttons/sort.html' with prefix='control' col='valid' text=tr_validated %}
		    </th>
                <th>
                    {% trans "Controlled" as tr_controlled %}
                    {% include 'buttons/sort.html' with prefix='control' col='control' text=tr_controlled %}
                </th>
            </tr>
        </thead>
        {% for form in controlform.forms %}
        {% bootstrap_form_errors form %}
        <tr>
            <td>
                <a href="{% url 'users:profil' form.instance.user.id%}" class="btn btn-primary btn-sm" role="button">
                    <i class="fa fa-user"></i>
                </a>
            </td>
            <td>{{ form.instance.user.name }}</td>
            <td>{{ form.instance.user.surname }}</td>
            <td>{{ form.instance.id }}</td>
            <td>{{ form.instance.user.id }}</td>
	    <td>{{ form.instance.name }}</td>
            <td>{{ form.instance.prix_total }}</td>
            <td>{{ form.instance.paiement }}</td>
            <td>{{ form.instance.date }}</td>
            <td>{{ form.valid }}</td>
            <td>{{ form.control }}</td>
            {% for hidden in form.hidden_fields %}
            {{ hidden }}
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
    {% trans "Confirm" as tr_confirm %}
    {% bootstrap_button tr_confirm button_type='submit' icon='ok' button_class='btn-success' %}
</form>

{% endblock %}
{% if facture_list.paginator %}
    {% include 'pagination.html' with list=facture_list %}
{% endif %}

