{% extends "cotisations/sidebar.html" %}
{% load bootstrap3 %}
{% load staticfiles%}

{% block title %}Création et modification de factures{% endblock %}

{% block content %}
{% bootstrap_form_errors factureform %}

<form class="form" method="post">
    {% csrf_token %}
    {% bootstrap_form factureform %}
    {{ venteform.management_form }}
    {% for form in venteform.forms %}
            {{ form.as_p }}
    {% endfor %}
    {% bootstrap_button "Créer ou modifier" button_type="submit" icon="star" %}
</form>

{% endblock %}
