{% extends "cotisations/sidebar.html" %}
{% load bootstrap3 %}

{% block title %}Facture{% endblock %}

{% block content %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Utilisateur</th>
                <th>Designation</th>
                <th>Nombre</th>
                <th>Prix unitaire</th>
                <th>Moyen de paiement</th>
                <th>Date</th>
            </tr>
        </thead>
        {% for facture in facture_list %}
        <tr>
            <td>{{ facture.user }}</td>
            <td>{{ facture.name }}</td>
            <td>{{ facture.number }}</td>
            <td>{{ facture.prix }}</td>
            <td>{{ facture.paiement }}</td>
            <td>{{ facture.date }}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}

