{% extends "base.html" %}
{% comment %}
Re2o est un logiciel d'administration développé initiallement au rezometz. Il
se veut agnostique au réseau considéré, de manière à être installable en
quelques clics.

Copyright © 2017  Gabriel Détraz
Copyright © 2017  Goulven Kermarec
Copyright © 2017  Augustin Lemesle

This program is free software; you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation; either version 2 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License along
with this program; if not, write to the Free Software Foundation, Inc.,
51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.
{% endcomment %}


{% block sidebar %}
    {% if is_trez %}
    <a class="list-group-item list-group-item-success" href="{% url "cotisations:new-facture-pdf" %}">
        <i class="glyphicon glyphicon-plus"></i>
        Créer une facture
    </a>
    <a class="list-group-item list-group-item-warning" href="{% url "cotisations:control" %}">
        <i class="glyphicon glyphicon-eye-open"></i>
        Contrôler les factures
    </a>
    {% endif %}
    <a class="list-group-item list-group-item-info" href="{% url "cotisations:index" %}">
        <i class="glyphicon glyphicon-list"></i>
        Factures
    </a>
    <a class="list-group-item list-group-item-info" href="{% url "cotisations:index-article" %}">
        <i class="glyphicon glyphicon-list"></i>
        Articles en vente
    </a>
    <a class="list-group-item list-group-item-info" href="{% url "cotisations:index-banque" %}">
        <i class="glyphicon glyphicon-list"></i>
        Banques
    </a>
    <a class="list-group-item list-group-item-info" href="{% url "cotisations:index-paiement" %}">
        <i class="glyphicon glyphicon-list"></i>
        Moyens de paiement
    </a>
{% endblock %}
