{% extends 're2o/sidebar.html' %}
{% comment %}
Re2o est un logiciel d'administration développé initiallement au rezometz. Il
se veut agnostique au réseau considéré, de manière à être installable en
quelques clics.

Copyright © 2017  Gabriel Détraz
Copyright © 2017  Lara Kermarec
Copyright © 2017  Augustin Lemesle

This program is free software; you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation; either version 2 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License along
with this program; if not, write to the Free Software Foundation, Inc.,
51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.
{% endcomment %}

{% load bootstrap3 %}
{% load i18n %}

{% block title %}{% trans "About Re2o" %}{% endblock %}

{% block content %}
    <h2>{% trans "Legal notes" %}</h2>

    <h4>{% trans "Legal entity" %}</h4>
    <p>{{ option.name | safe}}</p>

    <h4>{% trans "Registered office" %}</h4> 
    <p>{{ option.adresse1 | safe }}</p>
    <p>{{ option.adresse2 | safe }}</p>

    <p>{% trans "SIRET: " %}{{ option.siret | safe }}</p>

    <h4>{% trans "Publication manager" %}</h4>
    <p>{{ president }} - {% trans "President of " %} {{ option.pseudo }}</p>

    {% if gtu %}
    <h4>{% trans "General Terms of Use" %}</h4>
    <p><a href='{{ gtu.url }}' download='CGU'>{{ gtu }}</a></p>
    {% endif %}

    {% if option.description %}
    <h4>{% trans "Additional information" %}</h4>
    <p>{{ option.description | safe }}</p>
    {% endif %}

    <h2>{% trans "About Re2o" %}</h2>
    <p>{% blocktrans trimmed %}
        Re2o is an administration tool initiated by
        <a href="https://rezometz.org/">Rezo Metz</a> and a few
        members of other <a href="https://federez.net">FedeRez</a> associations
        around the summer 2016.<br />
        It is intended to be a tool independent from any network infrastructure
        so it can be setup in "a few steps". This tool is entirely free and
        available under a GNU Public License v2 (GPLv2) license on
        <a href="https://gitlab.federez.net/federez/re2o/">FedeRez gitlab</a>.<br />
		Re2o's maintainers are volunteers mainly from French schools. <br />
        If you want to get involved in the development process, we will be glad to
        welcome you so do not hesitate to contact us and come help us build the
        future of Re2o.
        {% endblocktrans %}
    </p>
    
    <div class="row">

        <div class="col-md-6">
            <h3>{% trans "Contributors list" %}</h3>
            <ul>
                {% for contributor in git_info_contributors %}
                <li>{{ contributor }}</li>
                {% endfor %}
            </ul>
        </div>

        <div class="col-md-6">
            <h3>{% trans "Version information" %}</h3>
            <ul>
                <li>{% blocktrans trimmed %}
                    <b>Remote URL</b>: {{ git_info_remote }}
                {% endblocktrans %}</li>
                <li>{% blocktrans trimmed %}
                    <b>Branch</b>: {{ git_info_branch }}
                {% endblocktrans %}</li>
                <li>{% blocktrans trimmed %}
                    <b>Commit</b>: {{ git_info_commit }}
                {% endblocktrans %}</li>
                <li>{% blocktrans trimmed %}
                    <b>Commit date</b>: {{ git_info_commit_date }}
                {% endblocktrans %}</li>
            </ul>

            <h3>{% trans "Dependencies" %}</h3>
            <ul>
                {% for dependency in dependencies %}
                <li>{{ dependency }}</li>
                {% endfor %}
            </ul>
        </div>

    </div>
{% endblock %}

