 {% if reversions.paginator %}
 <ul class="pagination nav navbar-nav">
    {% if reversions.has_previous %}
            <li><a href="?page={{ reversions.previous_page_number }}">Suivants</a></li>
    {% endif %}
    {% for page in reversions.paginator.page_range %}
        <li class="{% if reversions.number == page  %}active{% endif %}"><a href="?page={{page }}">{{ page }}</a></li>
    {% endfor %}

    {% if reversions.has_next %}
        <li> <a href="?page={{ reversions.next_page_number }}">Précédents</a></li>
    {% endif %}
 </ul>
 {% endif %}

<table class="table table-striped">
    <thead>
        <tr>
            <th>Date</th>
            <th>Cableur</th>
            <th>Commentaire</th>
        </tr>
   </thead>
   {% for rev in reversions %}
   <tr>
       <td>{{ rev.revision.date_created }}</td>
       <td>{{ rev.revision.user }}</td>
       <td>{{ rev.revision.comment }}</td>
   </tr>
   {% endfor %}
</table>
