{% extends 're2o/sidebar.html' %}
{% comment %}
Re2o est un logiciel d'administration développé initiallement au Rézo Metz. Il
se veut agnostique au réseau considéré, de manière à être installable en
quelques clics.

Copyright © 2017  Gabriel Détraz
Copyright © 2017  Lara Kermarec
Copyright © 2017  Augustin Lemesle

This program is free software; you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation; either version 2 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License along
with this program; if not, write to the Free Software Foundation, Inc.,
51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.
{% endcomment %}

{% load bootstrap3 %}
{% load i18n %}

{% block title %}{% trans "Contact" %}{% endblock %}

{% block content %}
<h2>{% blocktrans %}Contact the organisation {{asso_name}}{% endblocktrans %}</h2>
</br>

{% for template in optionnal_templates_contact_list %}
    {{template}}
{% endfor %}
    
{% for contact in contacts %}

<div class="panel panel-info">
    <div class="panel-heading">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-6">
                    <h4>{{ contact.get_name }}</h4>
                </div>
                <div class="col-sm-6 text-right">
                    <a href="mailto:{{ contact.address }}">{{ contact.address }}</a>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-body">
        {{ contact.commentary}}
    </div> 
</div>

{% endfor %}

{% endblock %}

