{% extends "re2o/sidebar.html" %}
{% comment %}
Re2o est un logiciel d'administration développé initiallement au rezometz. Il
se veut agnostique au réseau considéré, de manière à être installable en
quelques clics.

Copyright © 2017  Gabriel Détraz
Copyright © 2017  Goulven Kermarec
Copyright © 2017  Augustin Lemesle

This program is free software; you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation; either version 2 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License along
with this program; if not, write to the Free Software Foundation, Inc.,
51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.
{% endcomment %}

{% load bootstrap3 %}
{% load staticfiles %}

{% block title %}Accueil{% endblock %}

{% block content %}
<h1>Bienvenue sur {{ request.get_host }} !</h1>

<div class="row">
{% for service_list in services_urls %}
    <div class="col-sm-6 col-md-4">
        {% for service in service_list %}
        <div class="col-12">
            <div class="thumbnail">
                    <a href="{{ service.url }}"><img src="{% static service.image  %}" alt="{{ service.name }}"></a>
                    <div class="caption">
                    <h3>{{ service.name }}</h3>
                    <p>{{ service.description }}</p>
                    <p><a href="{{ service.url }}" class="btn btn-primary" role="button">Accéder</a></p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endfor %}
</div>

{% endblock %}

