{% extends 're2o/sidebar.html' %}
{% comment %}
Re2o est un logiciel d'administration développé initiallement au Rézo Metz. Il
se veut agnostique au réseau considéré, de manière à être installable en
quelques clics.

Copyright © 2017  Gabriel Détraz
Copyright © 2017  Lara Kermarec
Copyright © 2017  Augustin Lemesle

This program is free software; you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation; either version 2 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License along
with this program; if not, write to the Free Software Foundation, Inc.,
51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.
{% endcomment %}

{% load bootstrap3 %}
{% load staticfiles %}
{% load i18n %}

{% block title %}{% trans "Home" %}{% endblock %}

{% block content %}
<div class="panel-heading">
    <h2>{% blocktrans %}Welcome to {{ name_website }}{% endblocktrans %}</h2>
</div>
{% if not request.user.is_authenticated %}
<div class="row">
{% if var_sa %}
    <div class="col-sm-6 col-md-6">
        <div class="col-12">
            <div class="thumbnail">
                <div class="caption">
                    <h3>{% trans "Registration" %}</h3>
                    <p>{% trans "If you don't have an account yet and you want to access the Internet and the organisation's services, create your own personal account." %}</p>
                    <p><a href="{% url 'users:new-user' %}" class="btn btn-primary" role="button">{% trans "Sign up" %}</a></p>
                </div>
            </div>
        </div>
    </div>
{% endif %}
    <div class="col-sm-6 col-md-6">
        <div class="col-12">
            <div class="thumbnail">
                <div class="caption">
                    <h3>{% trans "Logging in" %}</h3>
                    <p>{% trans "If you already have an account, log in. You can manage your subscriptions to the organisation, your machines and all your services." %}</p>
                    <p><a href="{% url 'login' %}" class="btn btn-primary" role="button">{% trans "Log in" %}</a></p>
                </div>
            </div>
        </div>
    </div>
{% else %}
<div class="row">
    <div class="col-sm-12 col-md-12">
        <div class="col-12">
            <div class="thumbnail">
                <div class="caption">
                    <h3>{% trans "My profile" %}</h3>
                    <p>{% trans "To manage your subscriptions, your machines and all your services, access your profile." %}</p>
                    <p><a href="{% url 'users:mon-profil' %}" class="btn btn-primary" role="button">{% trans "Access my profile" %}</a></p>
                </div>
            </div>
        </div>
    </div>
{% endif %}
</div>

<div class="panel-heading">
    <h2>{% trans "Services of the organisation" %}</h2>
</div>
<div class="row">
{% for service_list in services_urls %}
    <div class="col-sm-6 col-md-4">
        {% for service in service_list %}
        <div class="col-12">
            <div class="thumbnail">
                    {% if service.image %}
                    <a href="{{ service.url }}"><img src="{{ service.image.url }}" alt="{{ service.name }}"></a>
                    {% endif %}
                    <div class="caption">
                    <h3>{{ service.name }}</h3>
                    <p>{{ service.description }}</p>
                    <p><a href="{{ service.url }}" class="btn btn-primary" role="button">{% trans "Go there" %}</a></p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endfor %}
</div>

{% endblock %}

