/* Sticky footer hacks */
html, body {
    height: 100%;
}

#wrap {
    min-height: 100%;
}

#main {
    overflow: auto;
    padding-bottom:60px; /* this needs to be bigger than footer height*/
}

footer {
    position: relative;
    margin-top: -50px; /* negative value of footer height */
    height: 50px;
    clear:both;
    padding-top:20px;
    background-color: #222222;
    /*background: -webkit-linear-gradient(left, red, red 16.6%, orange 16.6%, orange, orange 33.3%, yellow 33.3%, yellow, yellow 50%, green 50%, green, green 66.6%, blue 66.6%, blue, blue 83.3%, violet 83.3%,violet); */
    color: white;
    padding: 15px;
}

footer a {
    color: white;
    text-decoration: underline;
}

/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
    margin-bottom: 0;
    border-radius: 0;
}

/* Reduce the padding for the logo in the navbar-brand so the 32px-high logo
 * is centered in the navbar */
.navbar-brand {
    padding-top: 9px;
    padding-bottom: 9px;
}

/* Display logo and site name side by side and not on top of each other */
.navbar-brand img {
    display: initial;
}

/* Add right colors for buttons in dropdown in navbar-inverse (else it is light
 * gray on white bg and white when hovered */
.navbar-inverse .dropdown-menu .btn-link {
    text-decoration: none;
    color: #262626;
    padding: 0;
}
.navbar-inverse .dropdown-menu .btn-link:hover {
    background-color: #f5f5f5;
}
@media screen and (max-width: 767px) {
    .navbar-inverse .dropdown-menu .btn-link {
        color: #9d9d9d;
    }
    .navbar-inverse .dropdown-menu .btn-link:hover {
        color: #fff;
        background-color: transparent;
    }
}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {
    height: 100%;
    overflow: auto;
}

/* Set gray background color and 100% height */
.sidenav {
    padding-top: 20px;
    background-color: #f1f1f1;
}
.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
    vertical-align: middle;
}

/* Pull sidebars to the bottom */
@media (min-width: 767px) {
    .row {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display:         flex;
    }
    .row > [class*='col-'] {
        flex-direction: column;
    }
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
    .sidenav {
        height: auto;
        padding: 15px;
    }
    .row.content {height:auto;}
}

.table-responsive {
	overflow-y: visible;
}

/* For tables with long text in cells */

.table.long_text{
	table-layout: fixed;
	width: 100%;
}

td.long_text{
	word-wrap: break-word;
	width: 40%;
}

th.long_text{
	width: 60%;
}

/* style for the user page */

.dashboard_container{
margin-top: 30px;
margin-bottom: 20px;
}


.panel-heading.dashboard{
	text-align: center;
	min-height: 43px;
}

.panel-body.dashboard{
	text-align: center;
	height: 70px;
	vertical-align:middle;
}
#grad_red {
	background: red; /* For browsers that do not support gradients */
	background: linear-gradient(#ff6363, #fefefe); /* Standard syntax (must be last) */
}

#grad_green {
	background: green; /* For browsers that do not support gradients */
	background: linear-gradient(#C8DD58,#4FB64A); /* Standard syntax (must be last) */
}

#grad_grey {
	background: gray; /* For browsers that do not support gradients */
	background: linear-gradient(#d4d4ff, #fefefe); /* Standard syntax (must be last) */
}

#grad_machines{
	background: green;
	background: linear-gradient(#c266e0,#fefefe)
}


