/* For the footer to be at the bottom*/
body {
    padding-top: 50px;
}

.content {
    min-height: calc(100vh - 100px);
}

/* Footer */
footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

/* Move the space between navbar and content in the content */
.navbar { margin-bottom: 0; }
.pt4 { padding-top: 1.5rem!important; }

/* Reserve space for icons and align */
a > i.fa {
    display: inline-block;
    width: 16px;
    text-align: center;
}

/* Reduce the padding for the logo in the navbar-brand so the 32px-high logo
 * is centered in the navbar */
.navbar-brand {
    padding-top: 9px;
    padding-bottom: 9px;
}

/* Display logo and site name side by side and not on top of each other */
.navbar-brand img {
    display: initial;
}

/* Make navbar look less Bootstraped */
.navbar-inverse {
    border-color: #f9a01b;
}

.navbar-inverse .navbar-brand {
    color: #ffffff;
}

.navbar-inverse .navbar-nav > li > a {
    color: #d6d6d6;
}

/* Add right colors for buttons in dropdown in navbar-inverse (else it is light
 * gray on white bg and white when hovered */
.navbar-inverse .dropdown-menu .btn-link {
    text-decoration: none;
    color: #262626;
    padding: 0;
}
.navbar-inverse .dropdown-menu .btn-link:hover {
    background-color: #f5f5f5;
}
@media screen and (max-width: 767px) {
    .navbar-inverse .dropdown-menu .btn-link {
        color: #9d9d9d;
    }
    .navbar-inverse .dropdown-menu .btn-link:hover {
        color: #fff;
        background-color: transparent;
    }
}

/* Set height of the grid so footer stay on footer */
.row.content {
    min-height: 70vh;
}

/* Set gray background color */
@media (min-width: 768px) {
    .sidenav-right {
        position: fixed;
        top:50px;
        right:0;
    }
    .sidenav-left {
        position: fixed;
        top:50px;
        left:0;
    }
    .dropdown-menu .dropdown-toggle:after {
        border-top: .3em solid transparent;
        border-right: 0;
        border-bottom: .3em solid transparent;
        border-left: .3em solid;
    }

    .dropdown-menu .dropdown-menu {
        margin-left: 0;
        margin-right: 0;
    }

    .dropdown-menu li {
        position: relative;
    }

    .nav-item .submenu {
        display: none;
        position: absolute;
        left: 100%;
        top: -7px;
    }

    .nav-item .submenu-left {
        right: 100%;
        left: auto;
    }

    .dropdown-menu>li:hover {
        background-color: #f1f1f1
    }

    .dropdown-menu>li:hover>.submenu {
        display: block;
    }
}
.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
    vertical-align: middle;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
    .sidenav {
        height: auto;
        padding: 15px;
    }
    .row.content {height:auto;}
}

.table-responsive {
	overflow: visible;
}

/* Make modal wider on wide screens */
@media (min-width: 1024px) {
    .modal-dialog {
        width: 1000px
    }
}

/* For tables with long text in cells */

.table.long_text{
	table-layout: fixed;
	width: 100%;
}

td.long_text{
	word-wrap: break-word;
	width: 40%;
}

th.long_text{
	width: 60%;
}

/* change color of panel heading on hover */

.panel > .profil:hover {
    background-image: none;
    background-color: #e6e6e6;
    color: black;
}

/* add padding under title in profile */
.title-dashboard{
	padding-bottom: 30px;
}

/* center the profil boxes */
.dashboard{
    text-align: center;
}

/* Detailed information on profile page */
dl.profile-info {
    margin-top: -16px;
    margin-bottom: 0;
}

dl.profile-info > div {
    padding: 8px;
    border-top: 1px solid #ddd;
}

/* Make bootstrap accordions clickable on iOS */
[data-toggle~="collapse"] {
    cursor: pointer;
}

/* Indent for submenu when collapsed */

@media (max-width:767px) {
    .submenu > li {
        margin-left:20px;
    }
};