{% extends "admin/index.html" %}
{% comment %}
SPDX-License-Identifier: GPL-2.0-or-later

Copyright © 2019  Alexandre Iooss
{% endcomment %}

{% load i18n static %}

{% block content_title %}
    <h1>{% blocktrans %}Welcome to {{ name_website }}{% endblocktrans %}</h1>
{% endblock %}

{% block content %}
    <div id="content-main">
        <p>
            {% blocktrans %}You are on the operator interface. Here you will be able to manage the network and users
                from the top left menu. You can also go read the developer documentation.{% endblocktrans %}
        </p>
        <p>
            {% blocktrans %}To go back to the main site, click "View site" button in top right menu.{% endblocktrans %}
        </p>
    </div>
{% endblock %}

{% block sidebar %}
    <div id="content-related">
        <div class="module" id="recent-actions-module">
            <h2>{% trans 'My account' %}</h2>
            <h3>{% trans 'My recent actions' %}</h3>
            {% load log %}
            {% get_admin_log 10 as admin_log for_user user %}
            {% if not admin_log %}
                <p>{% trans 'None available' %}</p>
            {% else %}
                <ul class="actionlist">
                    {% for entry in admin_log %}
                        <li class="{% if entry.is_addition %}addlink{% endif %}{% if entry.is_change %}changelink{% endif %}{% if entry.is_deletion %}deletelink{% endif %}">
                            {% if entry.is_deletion or not entry.get_admin_url %}
                                {{ entry.object_repr }}
                            {% else %}
                                <a href="{{ entry.get_admin_url }}">{{ entry.object_repr }}</a>
                            {% endif %}
                            <br/>
                            {% if entry.content_type %}
                                <span class="mini quiet">{% filter capfirst %}
                                    {{ entry.content_type }}{% endfilter %}</span>
                            {% else %}
                                <span class="mini quiet">{% trans 'Unknown content' %}</span>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>
{% endblock %}
