{% extends "search/sidebar.html" %}
{% load bootstrap3 %}

{% block title %}Résultats de la recherche{% endblock %}

{% block content %}
    {% if users_list %}
    <h2>Résultats dans les utilisateurs</h2>
        {% include "users/aff_users.html" with users_list=users_list %}
    {% endif%}
    {% if machine_list %}
    <h2>Résultats dans les machines : </h2>
        {% include "machines/aff_machines.html" with machine_list=machine_list %}
    {% endif %}
    {% if facture_list %}
    <h2>Résultats dans les factures : </h2>
        {% include "cotisations/aff_cotisations.html" with facture_list=facture_list %}
    {% endif %}
    {% if white_list %}
    <h2>Résultats dans les accès à titre gracieux : </h2>
        {% include "users/aff_whitelists.html" with white_list=white_list %}
    {% endif %}
    {% if ban_list %}
    <h2>Résultats dans les banissements : </h2>
        {% include "users/aff_bans.html" with ban_list=ban_list %}
    {% endif %}
    {% if switch_list %}
    <h2>Résultats dans les switchs : </h2>
        {% include "topologie/aff_switch.html" with switch_list=switch_list %}
    {% endif %}
    {% if port_list %}
    <h2>Résultats dans les ports : </h2>
        {% include "topologie/aff_port.html" with port_list=port_list %}
    {% endif %}
    {% if not ban_list and not machine_list and not users_list and not facture_list and not white_list and not port_list and not switch_list%}
        <h3>Aucun résultat</h3>
    {% endif %}
    <br />
    <br />
    <br />
{% endblock %}

