{% extends "search/sidebar.html" %}
{% comment %}
Re2o est un logiciel d'administration développé initiallement au rezometz. Il
se veut agnostique au réseau considéré, de manière à être installable en
quelques clics.

Copyright © 2017  Gabriel Détraz
Copyright © 2017  Goulven Kermarec
Copyright © 2017  Augustin Lemesle

This program is free software; you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation; either version 2 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License along
with this program; if not, write to the Free Software Foundation, Inc.,
51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.
{% endcomment %}

{% load bootstrap3 %}
{% load i18n %}

{% block title %}{% trans "Search results" %}{% endblock %}

{% block content %}
    {% if users %}
        <h2>{% trans "Results among users:" %}</h2>
        {% include "users/aff_users.html" with users_list=users %}
    {% endif%}
    {% if clubs %}
        <h2>{% trans "Results among clubs:" %}</h2>
        {% include "users/aff_clubs.html" with clubs_list=clubs %}
    {% endif%}
    {% if machines %}
        <h2>{% trans "Results among machines:" %}</h2>
        {% include "machines/aff_machines.html" with machines_list=machines %}
    {% endif %}
    {% if factures %}
        <h2>{% trans "Results among invoices:" %}</h2>
        {% include "cotisations/aff_cotisations.html" with facture_list=factures %}
    {% endif %}
    {% if whitelists %}
        <h2>{% trans "Results among whitelists:" %}</h2>
        {% include "users/aff_whitelists.html" with white_list=whitelists %}
    {% endif %}
    {% if bans %}
        <h2>{% trans "Results among bans:" %}</h2>
        {% include "users/aff_bans.html" with ban_list=bans %}
    {% endif %}
    {% if rooms %}
        <h2>{% trans "Results among rooms:" %}</h2>
        {% include "topologie/aff_chambres.html" with room_list=rooms %}
    {% endif %}
    {% if ports %}
        <h2>{% trans "Results among ports" %}</h2>
        {% include "topologie/aff_port.html" with port_list=ports %}
    {% endif %}
    {% if switches %}
        <h2>{% trans "Results among switches" %}</h2>
        {% include "topologie/aff_switch.html" with switch_list=switches %}
    {% endif %}
    {% if not users and not machines and not factures and not whitelists and not bans and not rooms and not ports and not switches %}
        <h3>{% trans "No result" %}</h3>
    {% else %}
        <h6>{% blocktrans %}(Only the first {{ max_result }} results are displayed in each category){% endblocktrans %}</h6>
    {% endif %}
    <br />
    <br />
    <br />
{% endblock %}

