{% comment %}
Re2o est un logiciel d'administration développé initiallement au Rézo Metz. Il
se veut agnostique au réseau considéré, de manière à être installable en
quelques clics.

Copyright © 2017  Gabriel Détraz
Copyright © 2017  Lara Kermarec
Copyright © 2017  Augustin Lemesle

This program is free software; you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation; either version 2 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License along
with this program; if not, write to the Free Software Foundation, Inc.,
51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.
{% endcomment %}

{% load acl %}
{% load logs_extra %}
{% load design %}
{% load i18n %}

<table class="table table-striped">
    <thead>
    <tr>
        <th>{% trans "Name" %}</th>
        <th>{% trans "NAS device type" %}</th>
        <th>{% trans "Machine type linked to the NAS device" %}</th>
        <th>{% trans "Access mode" %}</th>
        <th>{% trans "MAC address auto capture" %}</th>
        <th></th>
    </tr>
    </thead>
    {% for nas in nas_list %}
        <tr>
            <td>{{ nas.name }}</td>
            <td>{{ nas.nas_type }}</td>
            <td>{{ nas.machine_type }}</td>
            <td>{{ nas.port_access_mode }}</td>
            <td>{{ nas.autocapture_mac|tick }}</td>
            <td class="text-right">
                {% can_edit nas %}
                {% include 'buttons/edit.html' with href='machines:edit-nas' id=nas.id %}
                {% acl_end %}
                {% history_button nas %}
            </td>
        </tr>
    {% endfor %}
</table>
