    <table class="table table-striped">
        <thead>
            <tr>
                <th>Alias</th>
                <th></th>
            </tr>
        </thead>
        {% for alias in alias_list %}
        <tr>
            <td>{{ alias }}</td>
            <td class="text-right">
		    {% include 'buttons/edit.html' with href='machines:edit-alias' id=alias.id %}
		    {% include 'buttons/history.html' with href='machines:history' name='alias' id=alias.id %}
            </td>
        </tr>
        {% endfor %}
    </table>

