    <table class="table table-striped">
        <thead>
            <tr>
                <th>Type de machine</th>
                <th>Type d'ip correspondant</th>
                <th></th>
            </tr>
        </thead>
        {% for type in machinetype_list %}
        <tr>
            <td>{{ type.type }}</td>
            <td>{{ type.ip_type }}</td>
            <td class="text-right">
            {% if is_infra %}
                {% include 'buttons/edit.html' with href='machines:edit-machinetype' id=type.id %}
            {% endif %}
                {% include 'buttons/history.html' with href='machines:history' name='machinetype' id=type.id %}
            </td>
        </tr>
        {% endfor %}
    </table>

