{% comment %}
Re2o est un logiciel d'administration développé initiallement au Rézo Metz. Il
se veut agnostique au réseau considéré, de manière à être installable en
quelques clics.

Copyright © 2017  Gabriel Détraz
Copyright © 2017  Lara Kermarec
Copyright © 2017  Augustin Lemesle

This program is free software; you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation; either version 2 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License along
with this program; if not, write to the Free Software Foundation, Inc.,
51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.
{% endcomment %}

{% load acl %}
{% load logs_extra %}
{% load design %}
{% load i18n %}

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>{% trans "Extension" %}</th>
	    <th>{% blocktrans %}"infra" right required{% endblocktrans %}</th>
            <th>{% trans "SOA record" %}</th>
            <th>{% trans "A record origin" %}</th>
            {% if ipv6_enabled %}
                <th>{% trans "AAAA record origin" %}</th>
            {% endif %}
            <th>{% trans "DNSSEC" %}</th>
            <th></th>
        </tr>
        </thead>
        {% for extension in extension_list %}
            <tr>
                <td>{{ extension.name }}</td>
                <td>{{ extension.need_infra|tick }}</td>
                <td>{{ extension.soa }}</td>
                <td>{{ extension.origin }}</td>
                {% if ipv6_enabled %}
                    <td>{{ extension.origin_v6 }}</td>
                {% endif %}
                <td>{{ extension.dnssec|tick }}</td>
                <td class="text-right">
                    {% can_edit extension %}
                    {% include 'buttons/edit.html' with href='machines:edit-extension' id=extension.id %}
                    {% acl_end %}
                    {% history_button extension %}
                </td>
            </tr>
        {% endfor %}
    </table>
</div>
