    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nom dns</th>
                <th>Proprietaire</th>
                <th>Type</th>
                <th>Mac</th>
                <th>Ipv4</th>
                <th></th>
            </tr>
        </thead>
        {% for interface in interfaces_list %}
        <tr>
            <td>{{ interface.dns }}</td>
            <td>{{ interface.machine.user }}</td>
            <td>{{ interface.machine.type }}</td>
            <td>{{ interface.mac_address }}</td>
            <td>{{ interface.ipv4 }}</td>
            <td><a class="btn btn-primary btn-sm" role="button" href="{% url 'machines:edit-machine' interface.id %}"><i class="glyphicon glyphicon-hdd"></i> Editer</a>
            <a class="btn btn-primary btn-sm" role="button" href="{% url 'machines:new-interface'  interface.machine.id %}"><i class="glyphicon glyphicon-plus"></i> Ajouter une interface</a></td>
        </tr>
        {% endfor %}
    </table>

