{% comment %}
Re2o est un logiciel d'administration développé initiallement au rezometz. Il
se veut agnostique au réseau considéré, de manière à être installable en
quelques clics.

Copyright © 2017  Gabriel Détraz
Copyright © 2017  Lara Kermarec
Copyright © 2017  Augustin Lemesle

This program is free software; you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation; either version 2 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License along
with this program; if not, write to the Free Software Foundation, Inc.,
51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.
{% endcomment %}

{% load design %}

{% load acl %}
{% load logs_extra %}
{% load i18n %}

{% for type in iptype_list %}
<div class="panel panel-default">
    <div class="panel-heading">
        <div class="containeri-fluid">
            <div class="row">
                <div class="col-sm-3">
                    <h4>{{ type.name }}</h4>
                </div>
                <div class="col-sm-3">
                    <h4>{{ type.extension }}</h4>
                </div>
                <div class="col-sm-4 text-center">
                    {% if type.need_infra %}
                        <span class="text-success">{% trans "Infra right required" %}
                    {% else %}
                        <span class="text-danger">{% trans "Infra right not required" %}
                    {% endif %}
                </div>
                <div class="col-sm-2 text-right">
                    {% can_edit type %}
                    {% include 'buttons/edit.html' with href='machines:edit-iptype' id=type.id %}
                    {% acl_end %}
                    {% history_button type %}
                </div>
            </div>
        </div>
  </div>
  <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>{% trans "IPv4 range" %}</th>
                    <th>{% trans "v6 prefix" %}</th>
                    <th>{% trans "DNSSEC reverse v4/v6" %}</th>
                    <th>{% trans "On VLAN(s)" %}</th>
                    <th>{% trans "Default ports opening" %}</th>
                </tr>
                </thead>
                    <tr>
                        <td>{{ type.domaine_ip_start }}-{{ type.domaine_ip_stop }}{% if type.ip_network %}
                            <b><u> on </u></b>
                            {{ type.ip_network }}{% endif %}</td>
                        <td>{{ type.prefix_v6 }}/{{ type.prefix_v6_length }}</td>
                        <td>{{ type.reverse_v4|tick }}/{{ type.reverse_v6|tick }}</td>
                        <td>{{ type.vlan }}</td>
                        <td>{{ type.ouverture_ports }}</td>
                    </tr>
            </table>
        </div>
  </div>
</div>
{% endfor %}



