{% extends 'machines/sidebar.html' %}
{% comment %}
Re2o est un logiciel d'administration développé initiallement au Rézo Metz. Il
se veut agnostique au réseau considéré, de manière à être installable en
quelques clics.

Copyright © 2017  Gabriel Détraz
Copyright © 2017  Lara Kermarec
Copyright © 2017  Augustin Lemesle

This program is free software; you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation; either version 2 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License along
with this program; if not, write to the Free Software Foundation, Inc.,
51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.
{% endcomment %}

{% load bootstrap3 %}

{% load acl %}
{% load i18n %}

{% block title %}{% trans "Machines" %}{% endblock %}

{% block content %}
    <h2>{% trans "List of NAS devices" %}</h2>
    <h5>{% trans "The NAS device type and machine type are linked. It is useful for MAC address auto capture by RADIUS, and allows to choose the machine type to assign to the machines according to the NAS device type." %}</h5>
    {% can_create Nas %}
        <a class="btn btn-primary btn-sm" role="button" href="{% url 'machines:add-nas' %}">
            <i class="fa fa-plus"></i> {% trans "Add a NAS device type" %}
        </a>
    {% acl_end %}
    <a class="btn btn-danger btn-sm" role="button" href="{% url 'machines:del-nas' %}">
        <i class="fa fa-trash"></i> {% trans "Delete one or several NAS device types" %}
    </a>
    {% include 'machines/aff_nas.html' with  nas_list=nas_list %}
    <br/>
    <br/>
    <br/>
{% endblock %}
