{% extends "machines/sidebar.html" %}

{% load bootstrap3 %}

{% block title %}Configuration de ports{% endblock %}

{% block content %}
  <h2>Liste des configurations de ports</h2>
  <a class="btn btn-primary btn-sm" role="button" href="#"><i class="glyphicon glyphicon-plus"></i>Ajouter une configuration</a>
  <table class="table table-striped">
    <thead>
      <tr>
	<th>Nom</th>
	<th>TCP</th>
	<th>UDP</th>
	<th></th>
      </tr>
    </thead>
    {% for pl in port_list %}
    <tr>
      <td>{{pl.name}}</td>
      <td>{{pl.tcp_ports}}</td>
      <td>{{pl.udp_ports}}</td>
	<td class="text-right">
	  {%comment%}
	  {% include 'buttons/suppr.html' href='machines:del-portlist' id=pl.id %}
	  {% include 'buttons/edit.html' href='machines:edit-portlist' id=pl.id %}
	  {%endcomment%}
        </td>
    </tr>
    {%endfor%}
  </table>
  <br />
  <br />
  <br />
  
{% endblock %}
