{% extends 'machines/sidebar.html' %}

{% load bootstrap3 %}

{% load acl %}
{% load i18n %}

{% block title %}{% trans "Machines" %}{% endblock %}

{% block content %}
    <h2>{% trans "List of ports configurations" %}</h2>
    {% can_create OuverturePortList %}
        <a class="btn btn-primary btn-sm" role="button" href="{% url 'machines:add-portlist' %}">
            <i class="fa fa-plus"></i> {% trans "Add a configuration" %}
        </a>
    {% acl_end %}
    <h2></h2>

    {% include 'machines/aff_portlist.html' with  port_list=port_list %}
{% endblock %}
