{% extends "machines/sidebar.html" %}

{% load bootstrap3 %}

{% load acl %}

{% block title %}Configuration de ports{% endblock %}

{% block content %}
  <h2>Liste des configurations de ports</h2>
  {% can_create OuverturePortList %}
  <a class="btn btn-primary btn-sm" role="button" href="{% url 'machines:add-portlist' %}"><i class="glyphicon glyphicon-plus"></i>Ajouter une configuration</a>
  {% acl_end %}
  <table class="table table-striped">
    <thead>
      <tr>
	<th>Nom</th>
	<th>TCP (entrée)</th>
	<th>TCP (sortie)</th>
	<th>UDP (entrée)</th>
	<th>UDP (sortie)</th>
        <th>Machines</th>
	<th></th>
      </tr>
    </thead>
    {% for pl in port_list %}
    <tr>
      <td>{{pl.name}}</td>
      <td>{% for p in pl.tcp_ports_in %}{{p.show_port}}, {%endfor%}</td>
      <td>{% for p in pl.tcp_ports_out %}{{p.show_port}}, {%endfor%}</td>
      <td>{% for p in pl.udp_ports_in %}{{p.show_port}}, {%endfor%}</td>
      <td>{% for p in pl.udp_ports_out %}{{p.show_port}}, {%endfor%}</td>
      <td>
      {% if pl.interface_set.all %}
	<div class="dropdown">
	    <button class="btn btn-default dropdown-toggle" type="button" id="editioninterface" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                	 <span class="caret"></span>
	    </button>
	    <ul class="dropdown-menu" aria-labelledby="editioninterface">
	    {% for interface in pl.interface_set.all %}
		<li>
                   <a href="{% url 'users:profil' userid=interface.machine.user.id %}">
			{{ interface }}
		   </a>
		</li>
	    {% endfor %}
	    </ul>
	</div>
      {% endif %}
	<td class="text-right">
          {% can_delete pl %}
	  {% include 'buttons/suppr.html' with href='machines:del-portlist' id=pl.id %}
	  {% acl_end %}
	  {% can_edit pl %}
	  {% include 'buttons/edit.html' with href='machines:edit-portlist' id=pl.id %}
	  {% acl_end %}
        </td>
    </tr>
    {%endfor%}
  </table>
  <br />
  <br />
  <br />
  
{% endblock %}
