{% extends "machines/sidebar.html" %}
{% comment %}
Re2o est un logiciel d'administration développé initiallement au rezometz. Il
se veut agnostique au réseau considéré, de manière à être installable en
quelques clics.

Copyright © 2017  Gabriel Détraz
Copyright © 2017  Goulven Kermarec
Copyright © 2017  Augustin Lemesle
Copyright © 2017  Maël Kervella

This program is free software; you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation; either version 2 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License along
with this program; if not, write to the Free Software Foundation, Inc.,
51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.
{% endcomment %}

{% load bootstrap3 %}
{% load massive_bootstrap_form %}

{% block title %}Création et modification de machines{% endblock %}

{% block content %}
{% if machineform %}
    {% bootstrap_form_errors machineform %}
{% endif %}
{% if interfaceform %}
    {% bootstrap_form_errors interfaceform %}
{% endif %}
{% if domainform %}
    {% bootstrap_form_errors domainform %}
{% endif %}
{% if iptypeform %}
    {% bootstrap_form_errors iptypeform %}
{% endif %}
{% if machinetypeform %}
    {% bootstrap_form_errors machinetypeform %}
{% endif %}
{% if extensionform %}
    {% bootstrap_form_errors extensionform %}
{% endif %}
{% if mxform %}
    {% bootstrap_form_errors mxform %}
{% endif %}
{% if nsform %}
    {% bootstrap_form_errors nsform %}
{% endif %}
{% if txtform %}
    {% bootstrap_form_errors txtform %}
{% endif %}
{% if srvform %}
    {% bootstrap_form_errors srvform %}
{% endif %}
{% if aliasform %}
    {% bootstrap_form_errors aliasform %}
{% endif %}
{% if serviceform %}
    {% bootstrap_form_errors serviceform %}
{% endif %}
{% if vlanform %}
    {% bootstrap_form_errors vlanform %}
{% endif %}
{% if nasform %}
    {% bootstrap_form_errors nasform %}
{% endif %}
{% if ipv6form %}
    {% bootstrap_form_errors ipv6form %}
{% endif %}
{% if sshfingerprintform %}
    {% bootstrap_form_errors sshfingerprintform %}
{% endif %}



<form class="form" method="post">
    {% csrf_token %}
    {% if machineform %}
        <h3>Machine</h3>
        {% massive_bootstrap_form machineform 'user' %}
    {% endif %}
    {% if interfaceform %}
        <h3>Interface</h3>
        {% if i_mbf_param %}
            {% massive_bootstrap_form interfaceform 'ipv4,machine' mbf_param=i_mbf_param %}
        {% else %}
            {% massive_bootstrap_form interfaceform 'ipv4,machine' %}
        {% endif %}
    {% endif %}
    {% if domainform %}
        <h3>Domaine</h3>
        {% bootstrap_form domainform %}
    {% endif %}
    {% if iptypeform %}
        <h3>Type d'IP</h3>
        {% bootstrap_form iptypeform %}
    {% endif %}
    {% if machinetypeform %}
        <h3>Type de machine</h3>
        {% bootstrap_form machinetypeform %}
    {% endif %}
    {% if extensionform %}
        <h3>Extension</h3>
        {% massive_bootstrap_form extensionform 'origin' %}
    {% endif %}
    {% if soaform %}
        <h3>Enregistrement SOA</h3>
        {% bootstrap_form soaform %}
    {% endif %}
    {% if mxform %}
        <h3>Enregistrement MX</h3>
        {% massive_bootstrap_form mxform 'name' %}
    {% endif %}
    {% if nsform %}
        <h3>Enregistrement NS</h3>
        {% massive_bootstrap_form nsform 'ns' %}
    {% endif %}
    {% if txtform %}
        <h3>Enregistrement TXT</h3>
        {% bootstrap_form txtform %}
    {% endif %}
    {% if srvform %}
        <h3>Enregistrement SRV</h3>
        {% massive_bootstrap_form srvform 'target'  %}
    {% endif %}
    {% if aliasform %}
        <h3>Alias</h3>
        {% bootstrap_form aliasform %}
    {% endif %}
    {% if serviceform %}
        <h3>Service</h3>
        {% massive_bootstrap_form serviceform 'servers' %}
    {% endif %}
    {% if vlanform %}
        <h3>Vlan</h3>
        {% bootstrap_form vlanform %}
    {% endif %}
    {% if nasform %}
        <h3>NAS</h3>
        {% bootstrap_form nasform %}
    {% endif %}
    {% if ipv6form %}
        <h3>Ipv6</h3>
        {% bootstrap_form ipv6form %}
    {% endif %}
    {% if sshfingerprintform %}
        <h3>SshFingerprint</h3>
        {% bootstrap_form sshfingerprintform %}
    {% endif %}
    {% bootstrap_button action_name button_type="submit" icon="star" %}
</form>
  <br />
  <br />
  <br />
{% endblock %}
