{% extends "machines/sidebar.html" %}
{% comment %}
Re2o est un logiciel d'administration développé initiallement au rezometz. Il
se veut agnostique au réseau considéré, de manière à être installable en
quelques clics.

Copyright © 2017  Gabriel Détraz
Copyright © 2017  Goulven Kermarec
Copyright © 2017  Augustin Lemesle

This program is free software; you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation; either version 2 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License along
with this program; if not, write to the Free Software Foundation, Inc.,
51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.
{% endcomment %}

{% load bootstrap3 %}

{% block title %}Création et modification de machines{% endblock %}

{% block content %}
{% if machineform %}
{% bootstrap_form_errors machineform %}
{% endif %}
{% if interfaceform %}
{% bootstrap_form_errors interfaceform %}
{% endif %}
{% if domainform %}
{% bootstrap_form_errors domainform %}
{% endif %}

{% if type_to_ipv4 %}
<script>
    var type_to_ipv4 = {
        type: [{% for type, iplist in type_to_ipv4.items %}"{{ type }}",{% endfor %}],
        iplist: [{% for type, iplist in type_to_ipv4.items %}
            [{% for ip in iplist %} {id:"{{ ip.id }}", ip:"{{ ip.ipv4 }}"},
            {% endfor %}], {% endfor %}
        ]
    }
    $(document).ready(function() {
        $("#id_ipv4").html("<option value='' selected='selected'>Choisisez un type de machine d'abord</options>");
        $("#id_type").change(function() {
            var val = $(this).val();
	    var options = "<option value='' selected='selected'>Assignation automatique de l'ipv4</option>";
	    for (var i = 0; i < type_to_ipv4.type.length; i++) {
                if (type_to_ipv4.type[i] == val) {
                    for (var j = 0; j < type_to_ipv4.iplist[i].length; j++) {
                        options += "<option value='"+type_to_ipv4.iplist[i][j].id+"'>"+type_to_ipv4.iplist[i][j].ip+"</option>";
                    }
                }
            }
            $("#id_ipv4").html(options)
	});
    });
</script>
{% endif %}

<form class="form" method="post">
    {% csrf_token %}
    {% if machineform %}
    {% bootstrap_form machineform %}
    {% endif %}
    {% if interfaceform %}
    {% bootstrap_form interfaceform %}
    {% endif %}
    {% if domainform %}
    {% bootstrap_form domainform %}
    {% endif %}
    {% bootstrap_button "Créer ou modifier" button_type="submit" icon="star" %}
</form>
  <br />
  <br />
  <br />
{% endblock %}
