{% extends "base.html" %}

{% block sidebar %}
    {% if is_cableur %}
    <a class="list-group-item list-group-item-info" href="{% url "machines:index" %}">
        <i class="glyphicon glyphicon-list"></i>
        Machines
    </a>
    <a class="list-group-item list-group-item-info" href="{% url "machines:index-machinetype" %}">
        <i class="glyphicon glyphicon-list"></i>
        Types de machines
    </a>
    <a class="list-group-item list-group-item-info" href="{% url "machines:index-extension" %}">
        <i class="glyphicon glyphicon-list"></i>
        Extensions (zones)
    </a>
    <a class="list-group-item list-group-item-info" href="{% url "machines:index-iptype" %}">
        <i class="glyphicon glyphicon-list"></i>
        Plages d'IP
    </a>
    {% endif %}
{% endblock %}
