{% extends "base.html" %}
{% comment %}
Re2o est un logiciel d'administration développé initiallement au rezometz. Il
se veut agnostique au réseau considéré, de manière à être installable en
quelques clics.

Copyright © 2017  Gabriel Détraz
Copyright © 2017  Goulven Kermarec
Copyright © 2017  Augustin Lemesle

This program is free software; you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation; either version 2 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License along
with this program; if not, write to the Free Software Foundation, Inc.,
51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.
{% endcomment %}

{% load acl %}

{% block sidebar %}
    {% can_view_all Machine %}
    <a class="list-group-item list-group-item-info" href="{% url "machines:index" %}">
        <i class="fa fa-list-ul"></i>
        Machines
    </a>
    {% acl_end %}
    {% can_view_all MachineType %}
    <a class="list-group-item list-group-item-info" href="{% url "machines:index-machinetype" %}">
        <i class="fa fa-list-ul"></i>
        Types de machines
    </a>
    {% acl_end %}
    {% can_view_all Extension %}
    <a class="list-group-item list-group-item-info" href="{% url "machines:index-extension" %}">
        <i class="fa fa-list-ul"></i>
        Extensions et zones
    </a>
    {% acl_end %}
    {% can_view_all IpType %}
    <a class="list-group-item list-group-item-info" href="{% url "machines:index-iptype" %}">
        <i class="fa fa-list-ul"></i>
        Plages d'IP
    </a>
    {% acl_end %}
    {% can_view_all Vlan %}
    <a class="list-group-item list-group-item-info" href="{% url "machines:index-vlan" %}">
        <i class="fa fa-list-ul"></i>
        Vlans
    </a>
    {% acl_end %}
    {% can_view_all Nas %}
    <a class="list-group-item list-group-item-info" href="{% url "machines:index-nas" %}">
        <i class="fa fa-list-ul"></i>
        Gestion des nas
    </a>
    {% acl_end %}
    {% can_view_all machines.Service %}
    <a class="list-group-item list-group-item-info" href="{% url "machines:index-service" %}">
        <i class="fa fa-list-ul"></i>
        Services (dhcp, dns...)
    </a>
    {% acl_end %}
    {% can_view_all Role %}
    <a class="list-group-item list-group-item-info" href="{% url "machines:index-role" %}">
        <i class="fa fa-list-ul"></i>
        Roles des serveurs
    </a>
    {% acl_end %}
    {% can_view_all OuverturePortList %}
    <a class="list-group-item list-group-item-info" href="{% url "machines:index-portlist" %}">
        <i class="fa fa-list-ul"></i>
        Ouverture de ports
    </a>
    {% acl_end %}
{% endblock %}
