    <table class="table table-striped">
        <thead>
            <tr>
                <th>Utilisateur</th>
                <th>Raison</th>
                <th>Date de début</th>
                <th>Date de fin</th>
                <th></th>
            </tr>
        </thead>
        {% for whitelist in white_list %}
        <tr>
            <td>{{ whitelist.user }}</td>
            <td>{{ whitelist.raison }}</td>
            <td>{{ whitelist.date_start }}</td>
            <td>{{ whitelist.date_end }}</td>
            <td class="text-right">
            {% if is_cableur %}
                {% include 'buttons/edit.html' with href='users:edit-whitelist' id=whitelist.id %}
            {% endif %}
                {% include 'buttons/history.html' with href='users:history' name='whitelist' id=whitelist.id %}
            </td>
        </tr>
        {% endfor %}
    </table>

