    <table class="table table-striped">
        <thead>
            <tr>
                <th>Prénom</th>
                <th>Nom</th>
                <th>Pseudo</th>
                <th>Fin de cotisation le</th>
                <th>Connexion</th>
                <th>Profil</th>
            </tr>
        </thead>
        {% for user in users_list %}    
        <tr>
            <td>{{ user.name }}</td>
            <td>{{ user.surname }}</td>
            <td>{{ user.pseudo }}</td>
            <td>{% if user.is_adherent %}{{ user.end_adhesion }}{% else %}Non adhérent{% endif %}</td>
            <td>{% if user.has_access == True %}
                <font color="green">Active</font>
                {% else %}
                <font color="red">Désactivée</font>
                {% endif %}
            </td>
            <td><a href="{% url "users:profil" user.id%}" class="btn btn-primary btn-sm" role="button"><i class="glyphicon glyphicon-user"></i></a>
            </td>
        </tr>
        {% endfor %}
    </table>

