{% comment %}
Re2o est un logiciel d'administration développé initiallement au rezometz. Il
se veut agnostique au réseau considéré, de manière à être installable en
quelques clics.

Copyright © 2017  Gabriel Détraz
Copyright © 2017  Goulven Kermarec
Copyright © 2017  Augustin Lemesle

This program is free software; you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation; either version 2 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License along
with this program; if not, write to the Free Software Foundation, Inc.,
51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.
{% endcomment %}

{% if users_list.paginator %}
{% include "pagination.html" with list=users_list %} 
{% endif %}

    <table class="table table-striped">
        <thead>
            <tr>
                <th>{% include "buttons/sort.html" with col="prenom" text="Prénom" %}</th>
                <th>Nom</th>
                <th>Pseudo</th>
                <th>Chambre</th>
                <th>Fin de cotisation le</th>
                <th>Connexion</th>
                <th>Profil</th>
            </tr>
        </thead>
        {% for user in users_list %}    
        <tr>
            <td>{{ user.name }}</td>
            <td>{{ user.surname }}</td>
            <td>{{ user.pseudo }}</td>
            <td>{{ user.room }}</td>
            <td>{% if user.is_adherent %}{{ user.end_adhesion }}{% else %}Non adhérent{% endif %}</td>
            <td>{% if user.has_access == True %}
                <font color="green">Active</font>
                {% else %}
                <font color="red">Désactivée</font>
                {% endif %}
            </td>
            <td><a href="{% url "users:profil" user.id%}" class="btn btn-primary btn-sm" role="button"><i class="glyphicon glyphicon-user"></i></a>
            </td>
        </tr>
        {% endfor %}
    </table>

