    <table class="table table-striped">
        <thead>
            <tr>
                <th>Etablissement</th>
                <th></th>
            </tr>
        </thead>
        {% for school in school_list %}
        <tr>
            <td>{{ school.name }}</td>
            <td class="text-right">
                {% include 'buttons/edit.html' with href='users:edit-school' id=school.id %}
                {% include 'buttons/history.html' with href='users:history' name='school' id=school.id %}
            </td>
        </tr>
        {% endfor %}
    </table>

