{% if ban_list.paginator %}
{% include "pagination.html" with list=ban_list %}
{% endif %}

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Utilisateur</th>
                <th>Raison</th>
                <th>Date de début</th>
                <th>Date de fin</th>
                <th></th>
            </tr>
        </thead>
        {% for ban in ban_list %}
        <tr>
            <td>{{ ban.user }}</td>
            <td>{{ ban.raison }}</td>
            <td>{{ ban.date_start }}</td>
            <td>{{ ban.date_end }}</td>
            <td class="text-right">
            {% if is_bofh %}
                {% include 'buttons/edit.html' with href='users:edit-ban' id=ban.id %}
            {% endif %}
                {% include 'buttons/history.html' with href='users:history' name='ban' id=ban.id %}
            </td>
        </tr>
        {% endfor %}
    </table>

