{% comment %}
Re2o est un logiciel d'administration développé initiallement au rezometz. Il
se veut agnostique au réseau considéré, de manière à être installable en
quelques clics.

Copyright © 2017  Gabriel Détraz
Copyright © 2017  Goulven Kermarec
Copyright © 2017  Augustin Lemesle

This program is free software; you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation; either version 2 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License along
with this program; if not, write to the Free Software Foundation, Inc.,
51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.
{% endcomment %}

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Droit</th>
                <th>Gid</th>
                <th>Permissions</th>
                <th>Users</th>
                <th>Details</th>
		<th></th>
                <th></th>
            </tr>
        </thead>
        {% for listright in listright_list %}
        <tr>
            <td>{{ listright.name }}</td>
            <td>{{ listright.gid }}</td>
            <td>
                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" id="listpermissions" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        Ensemble des permissions <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="listpermissions">
                    {% for perm in listright.permissions.all %}
                        <li>
			{{ perm.name }}
                        </li>
                    {% endfor %}
                    </ul>
		</div></td>
		<td>{% for user in listright.user_set.all %}{{user}} <a role="button" href="{% url 'users:del-group' user.id listright.id %}" title="{{ desc|default:"Supprimer" }}"><i class="glyphicon glyphicon-remove" style="color:red"></i></a> | {% endfor %}</td>
	    <td>{{ listright.details }}</td>
            <td class="text-right">
                {% include 'buttons/edit.html' with href='users:edit-listright' id=listright.id %}
                {% include 'buttons/history.html' with href='users:history' name='listright' id=listright.id %}
            </td>
        </tr>
        {% endfor %}
    </table>

