{% extends "users/sidebar.html" %}
{% comment %}
Re2o est un logiciel d'administration développé initiallement au rezometz. Il
se veut agnostique au réseau considéré, de manière à être installable en
quelques clics.

Copyright © 2017  Gabriel Détraz
Copyright © 2017  Goulven Kermarec
Copyright © 2017  Augustin Lemesle

This program is free software; you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation; either version 2 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License along
with this program; if not, write to the Free Software Foundation, Inc.,
51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.
{% endcomment %}

{% load bootstrap3 %}

{% block title %}Création et modification d'utilisateur{% endblock %}

{% block content %}

<h1>Gestion des droits</h1>

<form class="form" method="post">
    {% csrf_token %}
    <table id="delRights_table" class="table table-striped">
        <tbody>
            {% for key, values in userform.items %}
            <tr class="active">
                <td>
                    <a data-toggle="collapse" href="#collapseRight_{{key}}" aria-expanded="true" aria-controls="collapseRights_{{key}}">
                        <b>{{ key }}</b> ( {{values.rights|length }} users )
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="collapse in" id="collapseRight_{{key}}">
                        <ul class="list-group" style="margin-bottom: 0px">
                            {% for user in values.rights %}
                            <li class="list-group-item col-xs-6 col-sm-4 col-md-3" style="border: none;">{{ user }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% bootstrap_button "Supprimer" button_type="submit" icon="star" %}
</form>

<script>
    $("#delRights_table").ready( function () {
        var rights_div = [{% for k in userform.keys %}$("#collapseRight_{{k}}"), {% endfor %}];
        for (var i=0 ; i<rights_div.length ; i++) {
            rights_div[i].collapse('hide');
        }
    } );
</script>

<br />
<br />
<br />
{% endblock %}
