<p>Bonjour {{nom}} !</p>

<p>Vous êtes maintenant adhérent du Rézo ! Nous sommes ravis de vous accueillir<br>
dans l'association. Outre l'accès à Internet, vous pourrez participer aux activités<br>
que nous proposons et profiter des services mis en place. Ceux-ci sont à découvrir<br>
sur le site <a href="https://re2o.rezometz.org">Re2o</a> qui vous permet aussi de gérer vos informations personnelles.</p>

<p>Le Rézo recrute ! Nous sommes passionnés (et bénévoles), alors si vous êtes intéressé<br>
de près ou de loin pour nous aider, n'hésitez pas !</p>

<p>Pour nous faire part de toute remarque, suggestion ou problème vous pouvez nous<br>
envoyer un mail à {{asso_email}}.</p>

<p>À bientôt,<br>
L'équipe de {{asso_name}}.</p>

<p>---</p>

<p>Welcome to the Rézo !</p>

<p>As a member of the association, not only can you access to the Internet but also a<br>
variety of services that you can discover on the website <a href="https://re2o.rezometz.org">Re2o</a> (log in using your<br>
credentials).</p>

<p>For any information, suggestion or problem, you can contact us via email at<br>
{{asso_email}}.</p>

<p>Regards,<br>
The (voluntary) {{asso_name}} team.</p>
