{% extends "users/sidebar.html" %}
{% comment %}
Re2o est un logiciel d'administration développé initiallement au rezometz. Il
se veut agnostique au réseau considéré, de manière à être installable en
quelques clics.

Copyright © 2017  Gabriel Détraz
Copyright © 2017  Goulven Kermarec
Copyright © 2017  Augustin Lemesle

This program is free software; you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation; either version 2 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License along
with this program; if not, write to the Free Software Foundation, Inc.,
51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.
{% endcomment %}

{% load bootstrap3 %}

{% block title %}Utilisateurs{% endblock %}

{% block content %}
  <h2>Liste des Établissements</h2>
  <h5>Ensemble des établissements d'enseignement ou d'activité des utilisateurs crées</h5>
  <a class="btn btn-primary btn-sm" role="button" href="{% url 'users:add-school'  %}"><i class="glyphicon glyphicon-plus"></i> Ajouter un établissement</a>
  <a class="btn btn-danger btn-sm" role="button" href="{% url 'users:del-school'  %}"><i class="glyphicon glyphicon-trash"></i> Supprimer un ou plusieurs établissements</a>
  {%  include "users/aff_schools.html" with  school_list=school_list %}
  <br />
  <br />
  <br />
{% endblock %}

