{% extends 'users/sidebar.html' %}
{% comment %}
Re2o est un logiciel d'administration développé initiallement au Rézo Metz. Il
se veut agnostique au réseau considéré, de manière à être installable en
quelques clics.

Copyright © 2017  Gabriel Détraz
Copyright © 2017  Lara Kermarec
Copyright © 2017  Augustin Lemesle

This program is free software; you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation; either version 2 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License along
with this program; if not, write to the Free Software Foundation, Inc.,
51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.
{% endcomment %}

{% load bootstrap3 %}
{% load acl %}
{% load i18n %}

{% block title %}{% trans "Users" %}{% endblock %}

{% block content %}
  <h2>{% trans "List of shells" %}</h2>
  {% can_create ListShell %}
  <a class="btn btn-primary btn-sm" role="button" href="{% url 'users:add-shell'  %}"><i class="fa fa-plus"></i> {% trans "Add a shell" %}</a>
  {% acl_end %}
  {%  include 'users/aff_shell.html' with shell_list=shell_list %}
  <br />
  <br />
  <br />
{% endblock %}

