{% extends "base.html" %}

{% block sidebar %}
    {% if is_cableur %}
    <p><a href="{% url "users:new-user" %}">Créer un adhérent</a></p>
    <p><a href="{% url "users:index" %}">Liste des adhérents</a></p>
    <p><a href="{% url "users:index-ban" %}">Liste des bannissements</a></p>
    <p><a href="{% url "users:index-white" %}">Liste des accès à titre gracieux</a></p>
    <p><a href="{% url "users:index-school" %}">Liste des établissements</a></p>
    <p><a href="{% url "users:index-listright" %}">Liste des droits</a></p>
    {% if is_bureau %}
    <p><a href="{% url "users:del-right" %}">Retirer un droit</a></p>
    {% endif %}
    {% endif %}
{% endblock %}
