{% extends "base.html" %}
{% comment %}
Re2o est un logiciel d'administration développé initiallement au rezometz. Il
se veut agnostique au réseau considéré, de manière à être installable en
quelques clics.

Copyright © 2017  Gabriel Détraz
Copyright © 2017  Goulven Kermarec
Copyright © 2017  Augustin Lemesle

This program is free software; you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation; either version 2 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License along
with this program; if not, write to the Free Software Foundation, Inc.,
51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.
{% endcomment %}


{% block sidebar %}
   {% if is_cableur %}
        <a class="list-group-item list-group-item-success" href="{% url "users:new-club" %}">
            <i class="glyphicon glyphicon-plus"></i>
            Créer un club/association
        </a>
   {% endif %}
        <a class="list-group-item list-group-item-success" href="{% url "users:new-user" %}">
            <i class="glyphicon glyphicon-plus"></i>
            Créer un adhérent
        </a>
	<a class="list-group-item list-group-item-info" href="{% url "users:index-clubs" %}">
            <i class="glyphicon glyphicon-list"></i>
            Clubs et assos
        </a>
    {% if is_cableur %}
	<a class="list-group-item list-group-item-info" href="{% url "users:index" %}">
            <i class="glyphicon glyphicon-list"></i>
            Adherents
        </a>
	<a class="list-group-item list-group-item-info" href="{% url "users:index-ban" %}">
            <i class="glyphicon glyphicon-list"></i>
            Bannissements
        </a>
        <a class="list-group-item list-group-item-info" href="{% url "users:index-white" %}">
            <i class="glyphicon glyphicon-list"></i>
            Accès à titre gracieux
        </a>
        <a class="list-group-item list-group-item-info" href="{% url "users:index-school" %}">
            <i class="glyphicon glyphicon-list"></i>
            Établissements
        </a>
        <a class="list-group-item list-group-item-info" href="{% url "users:index-listright" %}">
            <i class="glyphicon glyphicon-list"></i>
            Droits
        </a>
        <a class="list-group-item list-group-item-info" href="{% url "users:index-serviceusers" %}">
            <i class="glyphicon glyphicon-list"></i>
            Gérer les service users
        </a>
	{% if is_bureau %}
        <a class="list-group-item list-group-item-danger" href="{% url "users:del-right" %}">
            <i class="glyphicon glyphicon-trash"></i>
            Retirer un droit
        </a>
        <a class="list-group-item list-group-item-danger" href="{% url "users:mass-archive" %}">
            <i class="glyphicon glyphicon-book"></i>
            Archiver en masse
        </a>
        {% endif %}
    {% endif %}
{% endblock %}
