{% extends "users/sidebar.html" %}
{% comment %}
Re2o est un logiciel d'administration développé initiallement au rezometz. Il
se veut agnostique au réseau considéré, de manière à être installable en
quelques clics.

Copyright © 2017  Gabriel Détraz
Copyright © 2017  Goulven Kermarec
Copyright © 2017  Augustin Lemesle

This program is free software; you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation; either version 2 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License along
with this program; if not, write to the Free Software Foundation, Inc.,
51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.
{% endcomment %}

{% load bootstrap3 %}
{% load widget_tweaks %}
{% load massive_bootstrap_form %}
{% load static %}
{% load i18n %}
{% block title %}{% trans "Users" %}{% endblock %}

{% block content %}
{% bootstrap_form_errors userform %}

<form class="form" method="post">
    {% csrf_token %}
    {# {% bootstrap_form userform %} #}
	<h3>Informations générales</h3>
	<div class="table-responsive">
	<table class="table table-borderless">
		<tr>
			<th>
                {{ userform.name.label_tag }}
			</th>
			<th>
                {{ userform.surname.label_tag }}
			</th>
			<th>
                {{ userform.pseudo.label_tag }}
			</th>
        </tr>
        <tr>
            <td>
                {% render_field userform.name class="form-control" placeholder=userform.name.label %}
			</td>
			<td>
                {% render_field userform.surname class="form-control" placeholder=userform.surname.label %}
			</td>
			<td>
                {% render_field userform.pseudo class="form-control" placeholder=userform.pseudo.label %}
			</td>
		</tr>
        <tr>
            <td>
                {{userform.name.help_text}}
            </td>
            <td>
                {{userform.surname.help_text}}
            </td>
            <td>
                {{userform.pseudo.help_text}}
            <td>
	</table>
	</div>
    <div class="table-responsive">
    <table class="table table-borderless">
        <tr>
            <th>
            {{ userform.email.label_tag }}
            </th>
            <td>
            {% render_field userform.email class="form-control" placeholder=userform.email.label %}
            </td>
        </tr>
        <tr>
            <th>
            {{ userform.comment.label_tag }}
            </th>
            <td>
            {% render_field userform.comment class="form-control" placeholder=userform.comment.label %}
            </td>
        </tr>
        <tr>
            <th>
            {{ userform.school.label_tag }}
            </th>
            <td>
            {% render_field userform.school class="form-control" placeholder=userform.school.label %}
            </td>
        </tr>
        <tr>
            <th>
            {{ userform.room.label_tag }}
            </th>
            <td>
            {% render_field userform.room class="form-control" placeholder=userform.room.label %}
            </td>
        </tr>
	</table>
	</div>


    <h3>Informations avancées</h3>
    <div class="table-responsive">
    <table class="table table-borderless">
        <tr>
            <th>
            {{ userform.shell.label_tag }}
            {% render_field field class="form-control is-valid" %}
            </th>
            <td>
            {% render_field userform.shell class="form-control" placeholder=userform.shell.label %}
            </td>
        </tr>
        <tr>
            <th>
            {{ userform.gpg_fingerprint.label_tag }}
            </th>
            <td>
            {% render_field userform.gpg_fingerprint class="form-control" placeholder=userform.gpg_fingerprint.label %}
            </td>
        </tr>
	</table>
	</div>
    {# {% massive_bootstrap_form userform 'room,school,administrators,members' %} #}
    {% bootstrap_button action_name button_type="submit" icon="star" %}
</form>
{% if load_js_file %}
<script src="{{ load_js_file }}"></script>
{% endif %}
<br>
{% if showCGU %}
<p>{% trans "By clicking 'Create or edit', the user commits to respect the " %}<a href="/media/{{ GTU }}" download="CGU" >{% trans "General Terms of Use" %}</a>.</p>
<h3>{% trans "Summary of the General Terms of Use" %}</h3>
<p>{{ GTU_sum_up }}</p>
{% endif %}
<br/>
<br/>
<br/>
{% endblock %}

