{% comment %}
Re2o est un logiciel d'administration développé initiallement au Rézo Metz. Il
se veut agnostique au réseau considéré, de manière à être installable en
quelques clics.

Copyright © 2017  Gabriel Détraz
Copyright © 2017  Lara Kermarec
Copyright © 2017  Augustin Lemesle

This program is free software; you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation; either version 2 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License along
with this program; if not, write to the Free Software Foundation, Inc.,
51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.
{% endcomment %}

{% load url_insert_param %}

{% load i18n %}

{% spaceless %}
<div style="display: flex; padding: 0;">
    {{ text }}&nbsp;
    <div style="display: grid; font-size: 9px; line-height: 1; margin: auto 0;">
        {% if prefix %}
        {% with prefix|add:'_'|add:col as colname %}
	{% trans "Ascending sort" as tr_ascending_sort %}
	{% trans "Descending sort" as tr_descending_sort %}
	<a role="button" href="{% url_insert_param request.get_full_path col=colname order='asc' %}" title="{{ desc|default:tr_ascending_sort }}">
            <span class="fa fa-caret-up"></span>
        </a>
	<a role="button" href="{% url_insert_param request.get_full_path col=colname order='desc' %}" title="{{ desc|default:tr_descending_sort }}">
            <span class="fa fa-caret-down"></span>
        </a>
        {% endwith %}
        {% else %}
	<a role="button" href="{% url_insert_param request.get_full_path col=col order='asc' %}" title="{{ desc|default:tr_ascending_sort }}">
            <span class="fa fa-caret-up"></span>
        </a>
	<a role="button" href="{% url_insert_param request.get_full_path col=col order='desc' %}" title="{{ desc|default:tr_descending_sort }}">
            <span class="fa fa-caret-down"></span>
        </a>
        {% endif %}
    </div>
</div>
{% endspaceless %}

