{# Please keep this template in sync with django/contrib/admin one #}
{% load i18n bootstrap3 %}
<div class="actions">
    {% bootstrap_form action_form layout='inline' form_group_class='form-group-sm col-xs-4 row' %}
    <button type="submit" class="btn btn-sm btn-default" title="{% trans "Run the selected action" %}" name="index" value="{{ action_index|default:0 }}">{% trans "Go" %}</button>
    {% if actions_selection_counter %}
        <span class="action-counter label label-info" data-actions-icnt="{{ cl.result_list|length }}">{{ selection_note }}</span>
        {% if cl.result_count != cl.result_list|length %}
        <span class="all label label-info" style="display: none;">{{ selection_note_all }}</span>
        <a href="#" title="{% trans "Click here to select the objects across all pages" %}">
            <span class="question label label-primary" style="display: none;">{% blocktrans with cl.result_count as total_count %}Select all {{ total_count }} {{ module_name }}{% endblocktrans %}</span>
        </a>
        <span class="clear label label-warning" style="display: none;"><a href="#">{% trans "Clear selection" %}</a></span>
        {% endif %}
    {% endif %}
</div>
