{# Please keep this template in sync with django/contrib/admin one #}
{% extends "users/sidebar.html" %}
{% load static %}

{% block extrastyle %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static "useradmin/css/base.css" %}" />
{% endblock %}

{% block title %}{{ title }}{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">{{ site_header|default:_('Django administration') }}</a></h1>
{% endblock %}

{% block nav-global %}{% endblock %}
