{% comment %}
Re2o est un logiciel d'administration développé initiallement au Rézo Metz. Il
se veut agnostique au réseau considéré, de manière à être installable en
quelques clics.

Copyright © 2017 Lara Kermarec
Copyright © 2017 Augustin Lemesle

This program is free software; you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation; either version 2 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License along
with this program; if not, write to the Free Software Foundation, Inc.,
51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.
{% endcomment %}

{% load staticfiles %}

{# Load the tag library #}
{% load bootstrap3 %}
{% load acl %}
{% load self_adhesion %}
{% load i18n %}

{% self_adhesion as var_sa %}
<!DOCTYPE html>
<html lang="fr">

<head prefix="og: http://ogp.me/ns#">
    {# Open Graph for social media #}
    <meta property="og:title" content="{{ name_website }}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ request.scheme }}://{{ request.get_host }}/" />
    <meta property="og:image" content="{% static 'images/logo_re2o.svg' %}" />
    <meta property="og:image:type" content="image/svg" />
    <meta property="og:image:alt" content="The Re2o logo" />
    <meta property="og:description" content="Networking managing website endorsed by FedeRez." />

    {# Preload JavaScript #}
    {% bootstrap_javascript %}
    <script src="/static/js/typeahead/typeahead.js"></script>
    <script src="/static/js/bootstrap-tokenfield/bootstrap-tokenfield.js"></script>
    <script src="{% static 'js/collapse-from-url.js' %}"></script>

    {% block custom_js %}{% endblock %}

    {# Load CSS #}
    {% bootstrap_css %}
    <link href="{% static 'css/typeaheadjs.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap-tokenfield.css' %}" rel="stylesheet">
    <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">
    {# load theme #}
    {% if request.user.is_authenticated %}
    <link href="{% static 'css/themes/' %}{{request.user.theme}}" rel="stylesheet">
    {% else %}
    <link href="{% static 'css/themes/default.css' %}" rel="stylesheet">
    {% endif %}
    <link href="{% static 'css/base.css' %}" rel="stylesheet">

    {# Favicon with iOS, Android, touchbar support #}
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'favicon/site.webmanifest' %}">
    <link rel="mask-icon" href="{% static 'favicon/safari-pinned-tab.svg' %}" color="#5bbad5">
    <link rel="shortcut icon" href="{% static 'favicon/favicon.ico' %}">
    <meta name="theme-color" content="#ffffff">

    {# Do not allow zooming on devices #}
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ name_website }} : {% block title %}{% trans "Home" %}{% endblock %}</title>
</head>

<body id="main">

    {% include 'nav.html' %}

    <div class="container-fluid text-center content">
        <div class="row content">
            <div class="col-sm-2 sidenav-left pt4">
                {% include 'sidebar.html' %}

                {% block sidebar %}
                {% endblock %}
            </div>
            <div class="col-sm-offset-2 col-sm-10 col-lg-8 text-left pt4">
                {# Display django.contrib.messages as Bootstrap alerts #}
                {% bootstrap_messages %}
                {% block content %}{% endblock %}
            </div>
            <div class="col-lg-2 pt4">
            </div>
        </div>
    </div>

    {% include 'footer.html' %}

    {# Load JavaScript #}
    <script src="/static/js/konami/konami.js"></script>
    <script src="/static/js/sapphire.js"></script>
    <script>
        // Konami activate sapphire
        let s = Sapphire();
        Konami(s.activate);
    </script>
    {% if request.user.shortcuts_enabled %}
    <script src="/static/js/shortcuts.js"></script>
    {% endif %}
    {# Read the documentation for more information #}
    <script src="/static/js/main.js"></script>
</body>

</html>