{% comment %}
Re2o est un logiciel d'administration développé initiallement au rezometz. Il
se veut agnostique au réseau considéré, de manière à être installable en
quelques clics.

Copyright © 2017  Goulven Kermarec
Copyright © 2017  Augustin Lemesle

This program is free software; you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation; either version 2 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License along
with this program; if not, write to the Free Software Foundation, Inc.,
51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.
{% endcomment %}

{% load staticfiles %}

{# Load the tag library #}
{% load bootstrap3 %}
{% load acl %}
<!DOCTYPE html>
<html lang="fr">
    <head prefix="og: http://ogp.me/ns#">
    <meta property="og:title" content="Re2o" />
    <meta property="og:type" content="website" />
    {% if request.is_secure %}
    	<meta property="og:url" content="https://{{request.get_host}}" />
	<meta property="og:image" content="https://{{request.get_host}}/static/logo/re2o.png"/>
    {%else%}
    	<meta property="og:url" content="http://{{request.get_host}"/>
	<meta property="og:image" content="http://{{request.get_host}}/static/logo/re2o.png"/>
    {%endif%}
    <meta property="og:description" content="Site de gestion de réseau supporté par FedeRez." />
        {# Load CSS and JavaScript #}
        {% bootstrap_css %}
	<link href="/static/css/typeaheadjs.css" rel="stylesheet">
	<link href="/static/css/bootstrap-tokenfield.css" rel="stylesheet">
	{% comment %}<link href="/static/css/jquery-ui.css" rel="stylesheet">{% endcomment %}

        {% bootstrap_javascript %}
	<script src="/static/js/typeahead/typeahead.js"></script>
	<script src="/static/js/handlebars/handlebars.js"></script>
	<script src="/static/js/konami/konami.js"></script>
	<script src="/static/js/sapphire.js"> var s=Sapphire(); Konami(s.activate); </script>
	<script src="/static/js/bootstrap-tokenfield/bootstrap-tokenfield.js"></script>
	{% comment %}<script src="/static/js/jquery-ui.js"></script>{% endcomment %}
        <link rel="stylesheet" href="{% static "/css/base.css" %}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ site_name }} : {% block title %}Accueil{% endblock %}</title>
    </head>

    <body>
        <div id="wrap">
       	    {% include "cookie_banner.html" %}
            <nav class="navbar navbar-inverse">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="/">{{ site_name }}</a>
                    </div>
                    <div class="collapse navbar-collapse" id="myNavbar">
                        <ul class="nav navbar-nav">
                            <li><a href="{% url "users:mon-profil" %}">Mon profil</a></li>
                            {% can_view_app users %}

                            <li><a href="{% url "users:index" %}">Adhérents</a></li>
                            {% acl_end %}
                            {% can_view_app machines %}
                            <li><a href="{% url "machines:index" %}">Machines</a></li>
                            {% acl_end %}
                            {% can_view_app cotisations %}
                            <li><a href="{% url "cotisations:index" %}">Cotisations</a></li>
                            {% acl_end %}
                            {% can_view_app topologie %}
                            <li><a href="{% url "topologie:index" %}">Topologie</a></li>
                            {% acl_end %}
                            {% can_view_app logs %}
                            <li><a href="{% url "logs:index" %}">Statistiques</a></li>
                            {% acl_end %}
                        </ul>
                        <div class="col-sm-3 col-md-3 navbar-right">
                            <form action="{% url "search:search"%}" class="navbar-form" role="search">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Search" name="q" id="search-term" {% if search_term %}value="{{ search_term }}"{% endif %}>
                                    <div class="input-group-btn">
                                        <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                                        <a href="{% url "search:searchp" %}" class="btn btn-default" role="button"><i class="glyphicon glyphicon-plus"></i></a>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                {% if request.user.is_authenticated %}
                                <a href="{% url 'logout' %}">
                                    <span class="glyphicon glyphicon-log-out"></span> Logout
                                </a>
                                {% else %}
                                <a href="{% url 'login' %}">
                                    <span class="glyphicon glyphicon-log-in"></span> Login
                                </a>
                                {% endif %}
			    </li>
			</ul>
                        {% can_view_app preferences %}
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a href="{% url 'preferences:display-options' %}">
                                    <span class="glyphicon glyphicon-cog"></span> Preferences
                                </a>
			    </li>
			</ul>
                        {% acl_end %}
		    </div>
                </div>
            </nav>

            <div id="main" class="container-fluid text-center">
                <div class="row content">
                    <div class="col-sm-2 sidenav">
                        <div class="panel panel-default">
                            <div class="text-left list-group">
                            {% block sidebar %}
                            {% endblock %}
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-8 text-left">
                        {# Display django.contrib.messages as Bootstrap alerts #}
                        {% bootstrap_messages %}
                        <hr>
                        {% block content %}{% endblock %}
                    </div>
                    <div class="col-sm-2 sidenav">
                        <div class="panel panel-default">
                            {% if request_user.is_authenticated %}
                            <div class="panel-heading">
                                <h4>{{ request_user.name }} {{ request_user.surname }}</h4>
                            </div>
                            <table class="table">
                                <tr>
                                    <th scope="row">Pseudo</th>
                                    <td class="text-right">{{ request_user.pseudo }}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Chambre</th>
                                    <td class="text-right">{{ request_user.room }}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Connexion</th>
                                    <td class="text-right">
                                    {% if request_user.has_access %}
                                        <i class="text-success">jusqu'au {{ request.user.end_access|date:"d b Y" }}</i>
                                    {% else %}
                                        <i class="text-danger">Désactivée</i>
                                    {% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">Adhésion</th>
                                    <td class="text-right">
                                    {% if request_user.is_adherent %}
                                        <i class="text-success">jusqu'au {{ request_user.end_adhesion|date:"d b Y" }}</i>
                                    {% else %}
                                        <i class="text-danger">Non adhérent</i>
                                    {% endif %}
                                    </td>
                                </tr>
                            </table>
                            <div class="list-group">
                                <a class="list-group-item list-group-item-info" role="button"href="{% url "users:mon-profil" %}">
                                    <i class="glyphicon glyphicon-user"></i>
                                    Voir mon profil
                                </a>
                            </div>
                            {% else %}
                            <p>Vous n'êtes pas authentifié</p>
                            {% endif %}
                        </div>
                        {% if request_user.is_authenticated %}
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4>{{ interfaces|length }} machines actives</h4>
                            </div>
                            <ul class="list-group">
                            {% for interface in interfaces|slice:":5" %}
                                <div class="list-group-item">{{interface}}</div>
                            {% endfor %}
                            {% if interfaces|length > 5 %}
                                <a class="list-group-item list-group-item-info" role="button" href="{% url "users:mon-profil" %}">
                                    <i class="glyphicon glyphicon-plus"></i>
                                    Voir mes machines
                                </a>
                            {% endif %}
                            </ul>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        <footer class="navbar">
            <div class="containerfluid text-center">
                <p>Re2o 2016-2018 - Gabriel Détraz, <a href="https://gitlab.rezometz.org/lhark">Goulven Kermarec</a>, Augustin Lemesle, Maël Kervella, Hugo Levy-Falk</p>
            </div>
        </footer>
        {# Read the documentation for more information #}
    </body>
</html>
