{% comment %}
Re2o est un logiciel d'administration développé initiallement au Rézo Metz. Il
se veut agnostique au réseau considéré, de manière à être installable en
quelques clics.

Copyright © 2017  Gabriel Détraz
Copyright © 2017  Lara Kermarec
Copyright © 2017  Augustin Lemesle

This program is free software; you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation; either version 2 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License along
with this program; if not, write to the Free Software Foundation, Inc.,
51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.
{% endcomment %}

{% load url_insert_param %}
{% load pagination_extra %}
{% load i18n %}

{% if list.paginator.num_pages > 1 %}
    <ul class="pagination text-center">
        {% if list.has_previous %}
            <li>
                <a href="{% pagination_insert_page_and_id request.get_full_path 1 page_arg=page_arg %}{% if go_to_id %}#{{ go_to_id }}{% endif %}">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">{% trans "First" %}</span>
                </a>
            </li>
            <li>
                <a href="{% pagination_insert_page_and_id request.get_full_path list.previous_page_number page_arg=page_arg %}{% if go_to_id %}#{{ go_to_id }}{% endif %}">
                    <span aria-hidden="true">&lsaquo;</span>
                    <span class="sr-only">{% trans "Previous" %}</span>
                </a>
            </li>
        {% else %}
            <li class="disabled"><span aria-hidden="true">&laquo;</span></li>
            <li class="disabled"><span aria-hidden="true">&lsaquo;</span></li>
        {% endif %}

        {% for page in list.paginator.page_range %}
            {% if list.number <= page|add:"3" and list.number >= page|add:"-3" %}
                <li class="{% if list.number == page %}active{% endif %}">
                    <a href="{% pagination_insert_page_and_id request.get_full_path page page_arg=page_arg %}{% if go_to_id %}#{{ go_to_id }}{% endif %}">{{ page }}</a>
                </li>
            {% endif %}
        {% endfor %}

        {% if list.has_next %}
            <li>
                <a href="{% pagination_insert_page_and_id request.get_full_path list.next_page_number page_arg=page_arg %}{% if go_to_id %}#{{ go_to_id }}{% endif %}">
                    <span aria-hidden="true">&rsaquo;</span>
                    <span class="sr-only">{% trans "Next" %}</span>
                </a>
            </li>
            <li>
                <a href="{% pagination_insert_page_and_id request.get_full_path list.paginator.page_range|length page_arg=page_arg %}{% if go_to_id %}#{{ go_to_id }}{% endif %}">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">{% trans "Last" %}</span>
                </a>
            </li>
        {% else %}
            <li class="disabled"><span aria-hidden="true">&rsaquo;</span></li>
            <li class="disabled"><span aria-hidden="true">&raquo;</span></li>
        {% endif %}
    </ul>

{% endif %}
