<ul class="pagination nav navbar-nav">
    {% if list.has_previous %}
	    <li><a href="?page=1"> << </a></li>
            <li><a href="?page={{ list.previous_page_number }}"> < </a></li>
    {% endif %}
    {% for page in list.paginator.page_range %}
        {% if list.number <= page|add:"3" and list.number >= page|add:"-3" %}
            <li class="{% if list.number == page  %}active{% endif %}"><a href="?page={{page }}">{{ page }}</a></li>
        {% endif %}
    {% endfor %}

    {% if list.has_next %}
        <li><a href="?page={{ list.next_page_number }}"> > </a></li>
	<li><a href="?page={{ list.paginator.page_range|length }}"> >> </a></li>
    {% endif %}
 </ul>

