    {% for key_dict, stats_dict in stats_list.items %}
    {% for key, stats in stats_dict.items %}
    <table class="table table-striped">
        <thead>
	<h4>Statistiques par {{ key_dict }} de {{ key }}</h4>
            <tr>
		<th>{{ key_dict }}</th>
		<th>Nombre de {{ key }} par {{ key_dict }}</th>
		<th>Rang</th>
            </tr>
        </thead>
       {% for stat in stats %}
        <tr>
            <td>{{ stat|truncatechars:25 }}</td>
            <td>{{ stat.num }}</td>
	    <td>{{ forloop.counter }}</td>
	</tr>
        {% endfor %}
    </table>
        {% endfor %}
	{% endfor %}
