{% comment %}
Re2o est un logiciel d'administration développé initiallement au Rézo Metz. Il
se veut agnostique au réseau considéré, de manière à être installable en
quelques clics.

Copyright © 2017  Gabriel Détraz
Copyright © 2017  Lara Kermarec
Copyright © 2017  Augustin Lemesle

This program is free software; you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation; either version 2 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License along
with this program; if not, write to the Free Software Foundation, Inc.,
51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.
{% endcomment %}

{% load i18n %}

{% for key_dict, stats_dict in stats_list.items %}
    {% for key, stats in stats_dict.items %}
        <table class="table table-striped">
            <thead>
                <h4>{% blocktrans %}Statistics per {{ key_dict }} of {{ key }}{% endblocktrans %}</h4>
                <tr>
                    <th>{{ key_dict }}</th>
                    <th>{% blocktrans %}Number of {{ key }} per {{ key_dict }}{% endblocktrans %}</th>
                    <th>{% trans "Rank" %}</th>
                </tr>
            </thead>
            {% for stat in stats %}
                <tr>
                    <td>{{ stat|truncatechars:25 }}</td>
                    <td>{{ stat.num }}</td>
                    <td>{{ forloop.counter }}</td>
                </tr>
            {% endfor %}
        </table>
    {% endfor %}
{% endfor %}

