{% comment %}
Re2o est un logiciel d'administration développé initiallement au rezometz. Il
se veut agnostique au réseau considéré, de manière à être installable en
quelques clics.

Copyright © 2017  Gabriel Détraz
Copyright © 2017  Goulven Kermarec
Copyright © 2017  Augustin Lemesle

This program is free software; you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation; either version 2 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License along
with this program; if not, write to the Free Software Foundation, Inc.,
51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.
{% endcomment %}

{% if revisions_list.paginator %}
{% include "pagination.html" with list=revisions_list %}
{% endif %}

{% load logs_extra %}

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Date</th>
                <th>Modification</th>
		<th></th>
            </tr>
        </thead>
        {% for revision in revisions_list %}
        	{% for reversion in revision.version_set.all %}
		{% if reversion.content_type.name in 'ban,whitelist,user,vente,interface'|slice:',' %}
                <tr>
                    <td>{{ revision.date_created }}</td>
                {% if reversion.content_type.name == 'ban' %}
		    <td>{{ revision.user.get_username }} a banni <a href="{% url 'users:profil' reversion.object.user_id %}">{{ reversion.object.user.get_username }}</a> (<i>{{ reversion.object.raison }}</i>)</td>
                {% elif reversion.content_type.name == 'whitelist' %}
		    <td>{{ revision.user.get_username }} a autorisé gracieusement <a href="{% url 'users:profil' reversion.object.user_id %}">{{ reversion.object.user.get_username }}</a> (<i>{{ reversion.object.raison }}</i>)</td>
                {% elif reversion.content_type.name == 'user' %}
		    <td>{{ revision.user.get_username }} a ajouté <a href="{% url 'users:profil' reversion.object.id %}">{{ reversion.object.get_username }}</a></td>
                {% elif reversion.content_type.name == 'vente' %}
		    <td><a href="{% url 'users:profil' reversion.object.facture.user_id %}">{{ reversion.object.facture.user.get_username }}</a> a acheté {{ reversion.object.number }}x {{ reversion.object.name }}{% if reversion.object.iscotisation %} (<i>+{{ reversion.object.duration }} mois</i>){% endif %}</td>
                {% elif reversion.content_type.name == 'interface' %}
		    <td>{{ revision.user.get_username }} a ajouté une interface à <a href="{% url 'users:profil' reversion.object.machine.user_id %}">{{ reversion.object.machine.user.get_username }}</a> (<i>MAC : {{ reversion.object.mac_bare }}</i>)</td>
                {% endif %}
                {% if is_bureau %}
                    <td>
                	<a class="btn btn-danger btn-sm" role="button" href="{% url 'logs:revert-action' revision.id %}">
                    	<i class="glyphicon glyphicon-remove"></i>
                    	Annuler
                	</a>
            	    </td>
            	{% endif %}
        	</tr>
		{% endif %}
		{% endfor %}
        {% endfor %}
    </table>


