{% comment %}
Re2o est un logiciel d'administration développé initiallement au rezometz. Il
se veut agnostique au réseau considéré, de manière à être installable en
quelques clics.

Copyright © 2017  Gabriel Détraz
Copyright © 2017  Goulven Kermarec
Copyright © 2017  Augustin Lemesle

This program is free software; you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation; either version 2 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License along
with this program; if not, write to the Free Software Foundation, Inc.,
51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.
{% endcomment %}

{% load bootstrap3 %}
{% load acl %}

{% for droit,users in stats_list.items %}
<div class="panel panel-default">
    <div class="panel-heading clearfix" data-parent="#accordion" data-toggle="collapse" data-target="#collapse{{droit.id}}">
        <h2 class="panel-title pull-left">
            <i class="fa fa-address-book"></i>
            {{droit}}
            <span class="badge">{{users.count}}</span>
        </h2>
    </div>
    <div class="panel-collapse collapse" id="collapse{{droit.id}}">
        <div class="panel-body">
            <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Pseudo</th>
                    <th>Adhésion</th>
                    <th>Derniere connexion</th>
                    <th>Nombre d'actions</th>
                    <th>Date de la dernière action</th>
                    <th></th>
                </tr>
                </thead>
                {% for utilisateur in users %}
                <tr>
                    <td>{{ utilisateur.pseudo }}</td>
                    {% if utilisateur.is_adherent %}
                        <td><p class="text-success">Adhérent</p></td>
                    {% elif not utilisateur.end_adhesion %}
                        <td><p class="text-warning">On ne s'en souvient plus...</p></td>
                    {% else %}
                        <td><p class="text-danger">Plus depuis {{ utilisateur.end_adhesion }}</p></td>
                    {% endif %}
                    <td>{{ utilisateur.last_login }}</td>
                    <td>{{ utilisateur.num }}</td>
                    {% if not utilisateur.last %}
                        <td><p class="text-danger">Jamais</p></td>
                    {% else %}
                        <td><p class="text-success">{{utilisateur.last}}</p></td>
                    {% endif %}
                    <td>
                        <a href="{% url 'users:del-group' utilisateur.id droit.id %}">
                            <button type="button" class="btn btn-danger" aria-label="Left Align">
                                <span class="fa fa-user-times" aria-hidden="true"></span>
                            </button>
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </table>
            </div>
        </div>
    </div>
</div>
{% endfor %}