{% comment %}
Re2o est un logiciel d'administration développé initiallement au rezometz. Il
se veut agnostique au réseau considéré, de manière à être installable en
quelques clics.

Copyright © 2017  Gabriel Détraz
Copyright © 2017  Lara Kermarec
Copyright © 2017  Augustin Lemesle

This program is free software; you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation; either version 2 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License along
with this program; if not, write to the Free Software Foundation, Inc.,
51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.
{% endcomment %}

{% if revisions_list.paginator %}
    {% include 'pagination.html' with list=revisions_list %}
{% endif %}

{% load logs_extra %}
{% load acl %}
{% load i18n %}

<table class="table table-striped">
    <thead>
        <tr>
            <th>{% trans "Edited object" %}</th>
            {% trans "Edited by" as tr_edited_by %}
            <th>{% include 'buttons/sort.html' with prefix='logs' col='author' text=tr_edited_by %}</th>
            {% trans "Date of editing" as tr_date_of_editing %}
            <th>{% include 'buttons/sort.html' with prefix='logs' col='date' text=tr_date_of_editing %}</th>
            <th>{% trans "Comment" %}</th>
            <th></th>
        </tr>
    </thead>
    {% for revision in revisions_list %}
        {% for version in revision.versions %}
            <tr>
                <td>
                    <a href="{% url 'logs:history' version.application version.model_name version.object_id %}" title="{% trans "History" %}">
                        {{ version.name }}
                    </a>
                </td>
                <td>
                    <a href="{% url 'users:profil' userid=revision.performed_by.id %}" title=tr_view_the_profile>
                        {{ revision.performed_by }}
                    </a>
                </td>
                <td>{{ revision.date_created }}</td>
                <td>{{ revision.comment }}</td>
                {% can_edit_history %}
                <td>
                    <a class="btn btn-danger btn-sm" role="button" href="{% url 'logs:revert-action' revision.id %}">
                        <i class="fa fa-times"></i>
                        {% trans "Cancel" %}
                    </a>
                </td>
                {% acl_end %}
            </tr>
        {% endfor %}
    {% endfor %}
</table>

{% if revisions_list.paginator %}
    {% include 'pagination.html' with list=revisions_list %}
{% endif %}

