{% extends "base.html" %}

{% block sidebar %}
    {% if is_cableur %}
    <a class="list-group-item list-group-item-info" href="{% url "logs:index" %}">
        <i class="glyphicon glyphicon-stats"></i>
        Évènements
    </a>
    <a class="list-group-item list-group-item-info" href="{% url "logs:stats-models" %}">
        <i class="glyphicon glyphicon-stats"></i>
        Base de données
    </a>
    <a class="list-group-item list-group-item-info" href="{% url "logs:stats-actions" %}">
        <i class="glyphicon glyphicon-stats"></i>
        Actions de cablage
    </a>
    <a class="list-group-item list-group-item-info" href="{% url "logs:stats-users" %}">
        <i class="glyphicon glyphicon-stats"></i>
        Utilisateurs
    </a>
    {% endif %}
{% endblock %}
